<div ng-controller="accountStatementCtrl">
    <div id="page-title">
        <h2>Upload details</h2>

    </div>

    <div class="clear"></div>
    <div class="table_top">

        <div class="row">
            <div class="col-md-8">

                <select id="pageSize" name="pageSize" class="selectbx" ng-model="tableViewby" ng-change="setTableItemsPerPage(tableViewby)">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="-1">All</option>
                </select>
                <label class="slt_label">Per page</label>

                <div class="space_5"></div>

            </div>
            <div class="col-md-4 tblsearch">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" ng-model="searchAccountActivity" placeholder="Enter Keyword, Amount or Date(mm/dd/yyyy)">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
                <div class="space_5"></div>

            </div>
        </div>

        <div class="clear"></div>
    </div>

    <div class="example-box-wrapper">

        <table class="table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Type</th>
                    <th>Size</th>
                    <th>Date</th>
                    <th>Download</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="statement in statementList.slice(((tableCurrentPage-1)*tableItemsPerPage), ((tableCurrentPage)*tableItemsPerPage)) | filter: searchAccountActivity track by $index">
                    <td>{{statement.fileName}}</td>
                    <td>{{statement.fileType}}</td>
                    <td>{{statement.size}}</td>
                    <td>{{statement.date | date}}</td>
                    <td>
                        <a target="_blank" href="../downloadDocument?docId={{statement.docId}}" class="btn btn-xs btn-primary" title="">Download</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-6">
                <div class="dataTables_info" id="datatable-tabletools_info" role="status" aria-live="polite">Showing page {{tableCurrentPage}} of {{totalTablePagesNumber}}</div>
            </div>
            <div class="col-sm-6">
                <div class="dataTables_paginate paging_bootstrap">
                    <pagination total-items="tableTotalItems" ng-model="tableCurrentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="totalTablePagesNumber" items-per-page="tableItemsPerPage"></pagination>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="visibility:hidden; display:none;">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">

                    <div class="example-box-wrapper">
                        <div id="data-example-1" class="" style="width: 100%; height: 100px;"></div>
                    </div>
                </div>
            </div>

            <div class="row">

            </div>

            <div class="content-box">

                <div class="content-box-wrapper">
                    <div id="data-example-3" style="width: 100%; height: 100px;"></div>
                </div>
            </div>

        </div>

    </div>

</div>