<div ng-controller="accountSummaryCtrl">
    <div class="panel">
        <div class="panel-body">
            <h3 class="title-hero">
           Accounts
        </h3>
            <div class="example-box-wrapper">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="accountSummary">
                        <div ng-if="!viewAllAccountActivity">
                            <div class="summary_outer" ng-repeat="account in accountList track by $index" ng-show="!loading">
                                <div class="col-md-5">
                                    <div class="bankdtl_header">
                                        {{account.nicName}} - {{account.accountNumber}}
                                        <span>{{account.name}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="bankdtl_header">
                                        {{account.accountType}}
                                        <span>{{account.accountCode}}</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="bankdtl_header">
                                        {{account.currency}} {{account.availableBalance | number : 2}}
                                        <span>Available Balance</span>
                                    </div>
                                </div>
                                <div class="col-md-2"><a ui-sref="home.accounts.activity({accountId : '{{account.id}}'})" class="btn btn-default viewall_btn">View All</a></div>
                                <div class="clear"></div>
                            </div>
                            <div class="example-box-wrapper" ng-show="loading">
                                <div class="glyph-icon remove-border demo-icon tooltip-button icon-spin-4 icon-spin" title="icon-spin-4"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>