<!--<link rel="stylesheet" type="text/css" href="../assets/widgets/wizard/wizard.css">-->
<script type="text/javascript" src="app/assets/widgets/wizard/wizard.js"></script>
<script type="text/javascript" src="app/assets/widgets/wizard/wizard-demo.js"></script>
<!-- Boostrap Tabs -->
<script type="text/javascript" src="app/assets/widgets/tabs/tabs.js"></script>
<div>
    <div class="space_20"></div>
    <h3 class="subhead">Add New <span>International</span> Payee</h3>
    <div class="space_20"></div>
    <div class="panel">
        <div class="panel-body">
            <!--<h3 class="title-hero">
            Custom navigation
        </h3> -->
            <div class="example-box-wrapper">
                <div id="form-wizard-2" class="form-wizard">
                    <ul>
                        <li>
                            <a href="#custom-step-1" data-toggle="tab">
                                <label class="wizard-step">1</label>
                                <span class="wizard-description">
                         Payee
                         <!-- <small>Gather the user details</small> -->
                      </span>
                            </a>
                        </li>
                        <li>
                            <a href="#custom-step-2" data-toggle="tab">
                                <label class="wizard-step">2</label>
                                <span class="wizard-description">
                         Bank
                         <!-- <small>Confirm contact details</small> -->
                      </span>
                            </a>
                        </li>
                        <li>
                            <a href="#custom-step-3" data-toggle="tab">
                                <label class="wizard-step">3</label>
                                <span class="wizard-description">
                         Other
                         <!-- <small>Establish business description</small> -->
                      </span>
                            </a>
                        </li>
                        <li>
                            <a href="#custom-step-4" data-toggle="tab">
                                <label class="wizard-step">4</label>
                                <span class="wizard-description">
                         Confirm
                         <!-- <small>Finish and send the email</small> -->
                      </span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="custom-step-1">
                            <div class="content-box">
                                <h3 class="content-box-header bg-default">
                                Payee Details
                            </h3>
                                <div class="content-box-wrapper">
                                    <!-- Start Row  -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="frmlbl"> Recipient Type*</label>
                                            <div class="smallrdo">
                                                <input id="individual" type="radio" name="radio5" value="1" checked="checked">
                                                <label for="individual">Individual</label>
                                                <input id="business" type="radio" name="radio5" value="1">
                                                <label for="business">Business</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="space_10"></div>
                                        </div>
                                    </div>
                                    <!-- End Row  -->
                                    <!-- Start Row  -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="frmlbl">Payee Name*</label>
                                            <input name="" type="text" class="frmtxtbx">

                                        </div>

                                    </div>
                                    <!-- End Row  -->
                                    <!-- Start Row  -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="frmlbl">Address 1*</label>
                                            <input name="" type="text" class="frmtxtbx">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="frmlbl">Address 2*</label>
                                            <input name="" type="text" class="frmtxtbx">

                                        </div>

                                    </div>
                                    <!-- End Row  -->
                                    <!-- Start Row  -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="frmlbl">City*</label>
                                            <input name="" type="text" class="frmtxtbx">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="frmlbl">State*</label>
                                            <input name="" type="text" class="frmtxtbx">

                                        </div>

                                    </div>
                                    <!-- End Row  -->
                                    <!-- Start Row  -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="frmlbl">Postal Code*</label>
                                            <input name="" type="text" class="frmtxtbx">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="frmlbl">Country*</label>
                                            <input name="" type="text" class="frmtxtbx">

                                        </div>

                                    </div>
                                    <!-- End Row  -->
                                    <!-- Start Row  -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="frmlbl">Phone No*</label>
                                            <input name="" type="text" class="frmtxtbx">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="frmlbl">Email*</label>
                                            <input name="" type="text" class="frmtxtbx">

                                        </div>
                                    </div>
                                    <!-- End Row  -->

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="custom-step-2">
                            <div class="content-box">
                                <h3 class="content-box-header bg-black">
                                Payee Bank Details
                            </h3>
                                <div class="content-box-wrapper">
                                    <!-- Start Row  -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="frmlbl">Country</label>
                                            <input name="" type="text" class="frmtxtbx">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="frmlbl">Ccy</label>
                                            <input name="" type="text" class="frmtxtbx">

                                        </div>
                                    </div>
                                    <!-- End Row  -->
                                    <!-- Start Row  -->
                                    <div class="row form-horizontal">
                                        <div class="col-md-6 ">
                                            <label class="frmlbl">LookUp</label>
                                            <select class="frmtxtbx">
                                                <option>Choose State</option>
                                                <option>Address</option>
                                                <option>Swift</option>
                                                <option>Country Specific</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- End Row  -->
                                    <!-- Start Row  -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="frmlbl">Bank Name</label>
                                            <input name="" type="text" class="frmtxtbx">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="frmlbl">Bank Address</label>
                                            <input name="" type="text" class="frmtxtbx">
                                        </div>
                                    </div>
                                    <!-- End Row  -->
                                    <!-- Start Row  -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="frmlbl">Swift/ Bic</label>
                                            <input name="" type="text" class="frmtxtbx">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="frmlbl">Bank City</label>
                                            <input name="" type="text" class="frmtxtbx">
                                        </div>
                                    </div>
                                    <!-- End Row  -->
                                    <!-- Start Row  -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="frmlbl">Zipcode</label>
                                            <input name="" type="text" class="frmtxtbx">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="frmlbl">Account Number</label>
                                            <input name="" type="text" class="frmtxtbx">
                                        </div>
                                    </div>
                                    <!-- End Row  -->
									
									
                                    <!-- Intermediatary bank info -->
                                    <div class="row">
											<div class="optional">

										<div class="panel-group" id="accordion">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel3">Intermediary Bank Info </a>
									</h4>
										</div>
										<div id="panel3" class="panel-collapse collapse">
											<div class="panel-body">

												<!-- Start Row  -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="frmlbl">Country</label>
                                                <input name="" type="text" class="frmtxtbx">
                                            </div>
                                        </div>
                                        <!-- End Row  -->
                                        <!-- Start Row  -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="frmlbl">Name</label>
                                                <input name="" type="text" class="frmtxtbx">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="frmlbl">Address</label>
                                                <input name="" type="text" class="frmtxtbx">
                                            </div>
                                        </div>
                                        <!-- End Row  -->
                                        <!-- Start Row  -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="frmlbl">City</label>
                                                <input name="" type="text" class="frmtxtbx">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="frmlbl">Bic</label>
                                                <input name="" type="text" class="frmtxtbx">
                                            </div>
                                        </div>
                                        <!-- End Row  -->

											</div>
										</div>
									</div>
									</div>
									</div>
                                    </div>
                                    <!-- end -->
									
									 
									
									
									
									
									
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="custom-step-3">
                            <div class="content-box">
                                <h3 class="content-box-header bg-green">
                                Other Required Fields
                            </h3>
                                <div class="content-box-wrapper">
                                    Country Specific fields populated
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="custom-step-4">
                            <div class="content-box">
                                <h3 class="content-box-header bg-blue">
                                Confirm
                            </h3>
                                <div class="content-box-wrapper">
									<div class="row">
                                    <div class="space_10"></div>
                                    <div class="btnouter">
                                        <button class="btn btn-black">Cancel</button>
                                        <button class="btn btn-primary">Add Payee</button>
                                    </div>
									<div class="space_20"></div>
									</div>
                                </div>
                            </div>
                        </div>
                        <div class="pager">
                            <div class="pull-right">
                                <button class="btn btn-default button-next">
                                    <i class="glyph-icon icon-arrow-right"></i>
                                </button>
                                <button class="btn btn-default button-last">
                                    <i class="glyph-icon icon-chevron-right"></i>
                                </button>
                            </div>
                            <div class="pull-left">
                                <button class="btn btn-default button-first">
                                    <i class="glyph-icon icon-chevron-left"></i>
                                </button>
                                <button class="btn btn-default button-previous">
                                    <i class="glyph-icon icon-arrow-left"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>