<script type="text/javascript" src="app/assets/widgets/uniform/uniform-demo.js"></script>
<div class="tab-content" ng-controller="addNewPayeeCtrl">
   <div class="tab-pane active">
        <div class="content-box" ng-show="!confirmPayeeInfo">
			<div class="content-box-wrapper">
                <div class="paytab">
                    <div class="example-box-wrapper">
                        <form class="form-horizontal bordered-row payeeForm" novalidate id="payeeForm" name="payeeForm" >
                            <!--<h3 class="title-hero">
								Add New Domestic Payee
							</h3>-->
							<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Recipient Type*</label>
                                        <div class="col-sm-6">
                                            <div class="radio-inline">
                                                <!--label>
                                                    <div class="radio" id="uniform-inlineRadio110">
                                                        <span class="">
															<input type="radio" class="custom-radio" name="recipientType" value="Individual" ng-model="payee.type"><i class="glyph-icon icon-circle"></i>
														</span>
                                                    </div>
                                                    Individual
                                                </label>-->
												<input type="radio" id="Individual_recipient" class="boss-checkbox" name="recipientType" value="Individual" ng-model="payee.recipientType"/>
												<label for="Individual_recipient" class="boss-label radGroup2">Individual</label>
                                            </div>
                                            <div class="radio-inline">
                                                <!--label>
                                                    <div class="radio" id="uniform-inlineRadsio110">
                                                        <span class="">
															<input type="radio" class="custom-radio" name="recipientType" value="Business" ng-model="payee.type"><i class="glyph-icon icon-circle"></i>
														</span>
                                                    </div>
                                                    Business
                                                </label-->
												<input type="radio" id="Business_recipient" class="boss-checkbox" name="recipientType" value="Business" ng-model="payee.recipientType"/>
												<label for="Business_recipient" class="boss-label radGroup2">Business</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                            <div class="space_10"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Payee Name*</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" ng-model="payee.legalName" placeholder="Payee Name"  name="legalName" ng-class="{'txtbxReq': (payeeForm.legalName.$error.required && (payeeForm.legalName.$touched || payeeForm.$submitted))}" ng-required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Nickname*</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" ng-model="payee.aliasName" placeholder="NickName"  name="aliasName" ng-class="{'txtbxReq': (payeeForm.aliasName.$error.required && (payeeForm.aliasName.$touched || payeeForm.$submitted))}" ng-required="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Address1*</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" ng-model="payee.legalAddress.address1" placeholder="Address 1" name="address1" ng-class="{'txtbxReq': (payeeForm.address1.$error.required && (payeeForm.address1.$touched || payeeForm.$submitted))}" ng-required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Address2</label>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="Address 2" class="form-control" ng-model="payee.legalAddress.address2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">City*</label>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="City" class="form-control" ng-model="payee.legalAddress.city" name="city" ng-class="{'txtbxReq': (payeeForm.city.$error.required && (payeeForm.city.$touched || payeeForm.$submitted))}" ng-required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">State*</label>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <input type="text" placeholder="State" class="form-control" ng-model="payee.legalAddress.state" name="state" ng-class="{'txtbxReq': (payeeForm.state.$error.required && (payeeForm.state.$touched || payeeForm.$submitted))}" ng-required="true">
                                                </div>
                                                <div class="col-sm-5">
                                                    <input type="text" placeholder="Postal Code" class="form-control" ng-model="payee.legalAddress.postalCode" name="postalCode" ng-class="{'txtbxReq': (payeeForm.postalCode.$error.required && (payeeForm.postalCode.$touched || payeeForm.$submitted))}" ng-required="true">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Email Address*</label>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="Email Address" class="form-control" ng-model="payee.emailAddress" name="email" ng-class="{'txtbxReq': (payeeForm.email.$error.required && (payeeForm.email.$touched || payeeForm.$submitted))}" ng-required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Phone Number*</label>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="Phone Number" class="form-control" ng-model="payee.phoneNumber" name="phoneNumber" ng-class="{'txtbxReq': (payeeForm.phoneNumber.$error.required && (payeeForm.phoneNumber.$touched || payeeForm.$submitted))}" ng-required="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="line" />
                            <div class="space_10"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Routing Number*</label>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="Routing Number" class="form-control" autocomplete="off" ng-model="payee.accountWithBank.bic" name="abaNumber"  
											typeahead-on-select="payeeBankSR($item)" 
											typeahead="bic.bic for bic in getBanks($viewValue) | limitTo:10" 
											typeahead-loading="loadingPayeeBank" 
											typeahead-editable="false" 
											ng-required="true" 
											ng-class="{'txtbxReq': (payeeForm.abaNumber.$error.required && (payeeForm.abaNumber.$touched || payeeForm.$submitted))}">
											<strong ng-show="loadingPayeeBank">Loading</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="row" ng-if="payee.accountWithBank">
                                <div class="col-md-6">
                                    <div class="form-group ">
									<div class="col-sm-4"></div>
                                    <div class="col-md-6">
                                        <p>Bank Name   : {{payee.accountWithBank.institutionName}}</p>
										<p>Bank Address: {{payee.accountWithBank.streetAddress1}}</p>
										<p>Bank City   : {{payee.accountWithBank.city}}</p>
										<p>Bank Zip    : {{payee.accountWithBank.zipCode}}</p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Account Number*</label>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="Account Number" class="form-control" ng-model="payee.accountNumber" name="accountNumber" ng-class="{'txtbxReq': (payeeForm.accountNumber.$error.required && (payeeForm.accountNumber.$touched || payeeForm.$submitted))}" ng-required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Re-enter Account Number*</label>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="Re-enter Account Number" class="form-control"ng-model="payee.reAccountNumber" name="reAccountNumber" ng-class="{'txtbxReq': (payeeForm.reAccountNumber.$error.required && (payeeForm.reAccountNumber.$touched || payeeForm.$submitted))}" ng-required="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
							<hr class="line" />
							<div class="space_20"></div>
							<div ng-include="'app/templates/commons/two_factor.html'"></div>
							<div class="space_10"></div>
                            <div class="bg-default content-box text-center pad20A mrg25T">
                                <button class="btn btn-md btn-primary" type="submit" ng-disabled="!pinVerified" ng-click="addPayee()">Add Payee</button>
                            </div>
                        </form>
                    </div>
					
                </div>
            </div>
        </div>
		<div ng-if="confirmPayeeInfo">
			<div ng-include="'app/templates/payees/payee_confirmation.html'"></div>
		</div>
		
		
    </div>

</div>