<div ng-controller="managePayeeCtrl">

    <div id="page-title">
        <h2>Manage All Payees for business operations</h2>
    </div>
    <div class="row dftpayment">
        <div class="example-box-wrapper">
            <ul class="list-group row list-group-icons">
                <li class="col-md-3 active">
                    <a href="#manage_payee" data-toggle="tab" class="list-group-item">
                        <span>Manage Payees</span>
                    </a>
                </li>
            </ul>
            <!-- Start tab-content  -->
            <div class="tab-content">
                <!-- Start make-a-payment-panel  -->
                <div class="tab-pane active in" id="manage_payee">

                    <div class="panel">
                        <div class="panel-body">
                            <h3 class="title-hero">
									Manage Payee
								</h3>
                            <div class="example-box-wrapper">
                                <div id="datatable-tabletools_wrapper" class="dataTables_wrapper form-inline no-footer">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="dataTables_length" id="datatable-tabletools_length">
                                                <label>
                                                    <select name="datatable-tabletools_length" ng-model="tableViewby" ng-change="setTableItemsPerPage(tableViewby)" class="form-control">
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select> records per page</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <!--<div id="btn-div" class="pull-right adnw">
                                <button class="btn btn-default"> Add New</button>
                            </div> -->
                                            <div id="datatable-tabletools_filter" class="dataTables_filter">
                                                <label>
                                                    <input type="search" class="form-control" placeholder="Search..." ng-model="searchPayee">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="datatable-tabletools" class="table table-striped table-bordered responsive no-wrap datatable-tabletools dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-tabletools_info" style="width: 100%;">

                                        <thead>
                                            <tr role="row">
                                                <th>Name</th>
                                                <th>Bank</th>
                                                <th>Account No</th>
                                                <th>Date</th>
                                                <th>Payment Ccy</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row" class="odd" ng-repeat="payee in payeeList.slice(((tableCurrentPage-1)*tableItemsPerPage), ((tableCurrentPage)*tableItemsPerPage)) | filter:searchPayee track by $index">
                                                <td>{{payee.name}}</td>
                                                <td>{{payee.bank.name}}
                                                    <span class="adres">{{payee.bank.city}}, {{payee.bank.zipCode}}, {{payee.bank.Country}}</span>
                                                </td>
                                                <td>{{payee.accountNumber}} </td>
                                                <td>{{payee.date | date}}</td>
                                                <td>{{payee.paymentCcy}}</td>
                                                <td>${{payee.amount}}</td>
                                                <td>
                                                    <a href="#" class="btn btn-xs btn-success" ng-if="payee.status=='Active'" title="">Active</a>
                                                    <a href="#" class="btn btn-xs btn-warning" ng-if="payee.status!='Active'" title="">Inactive</a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="dataTables_info" id="datatable-tabletools_info" role="status" aria-live="polite">Showing page {{tableCurrentPage}} of {{totalTablePagesNumber}}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="dataTables_paginate paging_bootstrap" id="datatable-tabletools_paginate">
                                                <pagination total-items="tableTotalItems" ng-model="tableCurrentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="totalTablePagesNumber" items-per-page="tableItemsPerPage"></pagination>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End make-a-pament-panel  -->
            </div>
        </div>
    </div>
</div>