<div>
   <!-- Start tab-content  -->
            <div class="tab-content">
                <!-- Start make-a-payment-panel  -->
                <div class="tab-pane fade active in" id="add_new_payee">
                    <div class="example-box-wrapper">
                        <div id="form-wizard-1" ng-init="selectedTab='domestic'">
                            <ul class="nav nav-pills">
                                <li ng-class="{'active':containerClass =='domesticPayee'}" >
									<a ui-sref="home.makePayment.addAPayee.domesticPayee">Domestic (US)</a>
								</li>
                                <li ng-class="{'active':containerClass =='internationalPayee'}">
									<a ui-sref="home.makePayment.addAPayee.internationalPayee">International</a>
								</li>
                            </ul>
                            <div ui-view>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>