<div>
    <div id="page-title">
        <h2>Add/Edit User</h2>

    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="frmlbl">Name</label>
            <input name="" type="text" class="frmtxtbx" placeholder="User Name">

        </div>
        <div class="col-md-6">
            <label class="frmlbl">Company</label>
            <input name="" type="text" class="frmtxtbx" placeholder="Company Name">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="frmlbl">Email</label>
            <input name="" type="text" class="frmtxtbx" placeholder="Email ID">

        </div>
        <div class="col-md-6">
            <label class="frmlbl">User ID</label>
            <input name="" type="text" class="frmtxtbx" placeholder="User ID">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="frmlbl">Password</label>
            <input name="" type="Password" class="frmtxtbx" placeholder="Password">

        </div>
        <div class="col-md-6">
            <label class="frmlbl">Confirm Password</label>
            <input name="" type="Password" class="frmtxtbx" placeholder="Password">
        </div>
    </div>

    <div class="space_20"></div>
    <div class="btnouter">
        <button class="btn btn-black" ui-sref="manageUsers">Cancel</button>
        <button class="btn btn-primary">Add User</button>
    </div>
</div>