<div>
    <div id="page-title">
        <h2>Edit Recurring Payments</h2>

    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="frmlbl">Status</label>
            <select class="frmtxtbx" disabled="disabled">
                <option>New</option>
                <option>Status1</option>
                <option>Status2</option>
            </select>

        </div>
        <div class="col-md-6">

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="frmlbl">From Account</label>
            <select class="frmtxtbx" disabled="disabled">
                <option>Business savings Account - 9875</option>
                <option>Business savings Account - 9875</option>
                <option>Account2</option>
            </select>

        </div>
        <div class="col-md-6">
            <label class="frmlbl">To Account</label>
            <select class="frmtxtbx" disabled="disabled">
                <option>LMN Corps</option>
                <option>Business savings Account - 9875</option>
                <option>Account2</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="frmlbl">Message</label>
            <textarea name="" cols="" rows="" class="frmtxtarea" placeholder="Message"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="frmlbl">Amount</label>
            <input name="" type="text" class="frmtxtbx" value="$ 40,000.00">

        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label class="frmlbl">Repeat every</label>
            <select class="frmtxtbx">
                <option>Month</option>
                <option>Week</option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="frmlbl">On</label>
            <div class="input-prepend input-group">
                <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                <input type="text" class="bootstrap-datepicker form-control" value="02/16/12" data-date-format="mm/dd/yy">
            </div>
        </div>
        <div class="col-md-3">
            <label class="frmlbl">Choose one</label>
            <select class="frmtxtbx">
                <option>Year</option>
                <option>I Cancel</option>
                <option>Date</option>
                <option>Amount</option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="frmlbl">Until</label>
            <input name="" type="text" class="frmtxtbx">
        </div>

    </div>

    <div class="space_20"></div>
    <div class="btnouter">
        <button class="btn btn-black">Cancel</button>
        <button class="btn btn-primary">Save</button>
    </div>

    <div class="row" style="visibility:hidden; display:none;">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">

                    <div class="example-box-wrapper">
                        <div id="data-example-1" class="" style="width: 100%; height: 100px;"></div>
                    </div>
                </div>
            </div>

            <div class="row">

            </div>

            <div class="content-box">

                <div class="content-box-wrapper">
                    <div id="data-example-3" style="width: 100%; height: 100px;"></div>
                </div>
            </div>

        </div>

    </div>
</div>