<div ng-controller="editPaymentCtrl">
    <div class="panel" ng-show="!paymentProcessed">
        <div class="panel-body">
            <h3 class="title-hero">
          Edit Payment
        </h3>
            <div class="example-box-wrapper">
                 <form class="form-horizontal bordered-row paymentForm" novalidate id="paymentForm" name="paymentForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Status</label>
                                <div class="col-sm-6">
                                    <select class="form-control" disabled="disabled">
                                        <option>New</option>
                                        <option>Status1</option>
                                        <option>Status2</option>
                                    </select>
									
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="space_10"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">From Account</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="bankAccount"  disabled="disabled"
									ng-model="bankAccount"  
									ng-class="{'txtbxReq': (paymentForm.bankAccount.$error.required && (paymentForm.bankAccount.$touched || paymentForm.$submitted))}" 
									ng-required="true" 
									ng-options="account.accountName for account in accountList track by account.id">
                                        <option value="">Select Account</option>
                                     </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">To Account</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="payee"  disabled="disabled"
									ng-model="payee" 
									ng-class="{'txtbxReq': (paymentForm.payee.$error.required && (paymentForm.payee.$touched || paymentForm.$submitted))}" 
									ng-required="true">
                                        <option ng-repeat="payee in payeeList track by $index" value="{{payee.id}}">{{payee.name}}:{{payee.accountNumber}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Amount</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Amount" class="form-control" name="amount"
										ng-model="payment.paymentAmount"
										ng-class="{'txtbxReq': (paymentForm.amount.$error.required && (paymentForm.amount.$touched || paymentForm.$submitted))}" 
										ng-required="true"
										number-format  
										decimals="numberOfDecimals" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label">Date</label>
                                <div class="col-sm-6">
                                    <div class="input-prepend input-group">
                                        <span class="add-on input-group-addon" ng-click="openPaymentDate($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</span>
                                        <input type="text" class="form-control"  name="paymentDate"
										datepicker-popup="MM/dd/yyyy"  
										ng-model="payment.paymentDate" 
										is-open="openPaymentCal" 
										min-date="minDate" 
										datepicker-options  
										close-text="Close"  
										ng-required="true"
										ng-class="{'txtbxReq': (paymentForm.paymentDate.$error.required && (paymentForm.paymentDate.$touched || paymentForm.$submitted))}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Message</label>
                                <div class="col-sm-6">
                                    <textarea name="" rows="3" class="form-control textarea-autosize" ng-model="payment.messageToRecipient"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="space_10"></div>
                        </div>

                    </div>
					<div class="space_20"></div>
                                  <div ng-include="'app/templates/commons/two_factor.html'"></div>
                                    <div class="space_10"></div>
                    <div class="bg-default content-box text-center pad20A mrg25T">
                        <a class="btn btn-md btn-default" ui-sref="makePayment">Cancel</a>
                        <button type="submit" class="btn btn-md btn-primary" ng-disabled="!pinVerified" ng-click="makePayment()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
	<div ng-show="paymentProcessed" >
						<div ng-include="'app/templates/payments/payment_confirmation.html'"></div>
					</div>
</div>