
<div ng-init="thisSelected=true">
    <div class="example-box-wrapper">
        <div id="form-wizard-3">
            <ul class="nav nav-pills">
                <li ng-class="{'active':thisSelected}"><a ui-sref="makePayment.domestic"  ng-click="thisSelected=true">Domestic (US)</a></li>
                <li ng-class="{'active':!thisSelected}"><a ui-sref="makePayment.international"ng-click="thisSelected=false">International</a></li>
            </ul>
            <div class="tab-content">
                <div ui-view>
					<div ng-include="'app/templates/payments/make_a_payment_domestic.html'"></div>
				</div>
            </div>
        </div>
    </div>
</div>