<div>
    <div class="example-box-wrapper">
        <div id="form-wizard-3">
            <div class="tab-content">
                <script type="text/javascript" src="app/assets/widgets/uniform/uniform-demo.js"></script>
                <div class="tab-pane active" ng-controller="paymentCtrl">
                    <div class="content-box" ng-hide="paymentProcessed">
                        <div class="content-box-wrapper">
                            <div class="paytab">
                                <div class="example-box-wrapper">

                                    <form class="form-horizontal bordered-row paymentForm" novalidate id="paymentForm" name="paymentForm">
                                        <div>
                                            <h3 class="title-hero">Make a Payment</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">From Account*</label>
                                                        <div class="col-sm-6">
                                                            <select class="form-control" ng-model="bankAccount" name="bankAccount" ng-class="{'txtbxReq': (paymentForm.bankAccount.$error.required && (paymentForm.bankAccount.$touched || paymentForm.$submitted))}" ng-required="true" ng-options="account.accountName for account in accountList track by account.id">
                                                                <option value="">Select Account</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-sm-8" ng-show="bankAccount">
                                                        <div class="alert alert-info">
                                                            <p>Account Balance: ${{bankAccount.amount}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">To Account*</label>
                                                        <div class="col-sm-6">
                                                            <select class="form-control" ng-model="payee" name="payee" ng-class="{'txtbxReq': (paymentForm.payee.$error.required && (paymentForm.payee.$touched || paymentForm.$submitted))}" ng-required="true">
                                                                <optgroup label="Domestic Payees">
                                                                    <option ng-repeat="payee in payeeList track by $index" value="{{payee.id}}" ng-if="!payee.isInternational">{{payee.name}}:{{payee.accountNumber}}</option>
                                                                </optgroup>
                                                                <optgroup label="International Payees">
                                                                    <option ng-repeat="payee in payeeList track by $index" value="{{payee.id}}" ng-if="payee.isInternational">{{payee.name}}:{{payee.accountNumber}}</option>
                                                                </optgroup>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-sm-8" ng-show="payeeAccount">
                                                        <div class="alert alert-info">
                                                            <p>{{payeeAccount.bank.name}} ({{payeeAccount.paymentCcy}})</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="!payeeAccount.isInternational">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Amount*</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" placeholder="Amount" ng-model="payment.paymentAmount" class="form-control" ng-model="" name="amount" ng-class="{'txtbxReq': (paymentForm.amount.$error.required && (paymentForm.amount.$touched || paymentForm.$submitted))}" ng-required="true" number-format decimals="numberOfDecimals">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Delivery Method*</label>
                                                        <div class="col-sm-6">
                                                            <select class="form-control" ng-model="deliveryMethod" name="deliveryMethod" ng-class="{'txtbxReq': (paymentForm.deliveryMethod.$error.required && (paymentForm.deliveryMethod.$touched || paymentForm.$submitted))}" ng-required="true" ng-options="deliver.description for deliver in deliveryMethodList">
                                                                <option value="">Select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-sm-8" ng-show="deliveryMethod">
                                                        <div class="alert alert-info">
                                                            <p>Fees: {{deliveryMethod.fees}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <!-- Div for Internation Payment -->
                                            <div ng-if="payeeAccount.isInternational">
                                                <div class="alert alert-info" ng-init="amountOption='equivalent';intermediaryBankFees='Remitter'">
                                                <div class="row" >
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Amount*</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" placeholder="Amount" ng-model="payment.paymentAmount" class="form-control" ng-model="" name="amount" ng-class="{'txtbxReq': (paymentForm.amount.$error.required && (paymentForm.amount.$touched || paymentForm.$submitted))}" ng-required="true" number-format decimals="numberOfDecimals">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>  
                                                <div class="row international-amount">
                                                    <div class="col-sm-12">
                                                        <input type="radio" name="amountOption" id="amountOption1" class="boss-checkbox" value="equivalent" ng-model="amountOption"/>
                                                        <label for="amountOption1" class="boss-label radGroup2">Pay USD Equivalent</label><br>
                                                        <p><small>The Above amount will be conerted and sent in foreign currency.</small></p>
                                                    </div>
                                                </div>
                                                 <div class="row international-amount">
                                                    <div class="col-sm-12">
                                                        <input type="radio" name="amountOption" id="amountOption2" class="boss-checkbox" value="notEquivalent" ng-model="amountOption" />
                                                        <label for="amountOption2" class="boss-label radGroup2">Pay {{payeeAccount.paymentCcy}} Equivalent</label><br>
                                                        <p><small>The Above amount will be  sent in foreign currency.</small></p>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Intermediary bank fees*</label>
                                                            <div class="col-sm-8 interBankRadio">
                                                               <div class="row">
                                                                    <div class="col-sm-6">
                                                                   <input type="radio" name="remitter" id="remitter" class="boss-checkbox" value="Remitter" ng-model="intermediaryBankFees"/>
                                                                    <label for="remitter" class="boss-label radGroup2">Remitter (me)</label>
                                                                </div>
                                                                 <div class="col-sm-6">
                                                                   <input type="radio" name="beneficiary" id="beneficiary" class="boss-checkbox" value="Beneficiary" ng-model="intermediaryBankFees"/>
                                                                    <label for="beneficiary" class="boss-label radGroup2">Beneficiary</label>
                                                                </div>
                                                               </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Purpose of Payment*</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" placeholder="Purpose of Payment" ng-model="payment.purposeOfPayment" class="form-control" name="purposeOfPayment" ng-class="{'txtbxReq': (paymentForm.purposeOfPayment.$error.required && (paymentForm.purposeOfPayment.$touched || paymentForm.$submitted))}" ng-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>
                                                </div>

                                        <!-- End -->

                                            <hr class="line" />
                                            <div class="space_10"></div>

                                            <div class="optional">

                                                <div class="panel-group" id="accordion">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel1">Schedule this payment</a>
                                                            </h4>
                                                        </div>
                                                        <div id="panel1" class="panel-collapse collapse in">
                                                            <div class="panel-body" ng-style="{height:openPaymentCal?'440px':''}">

                                                                <div class="">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-3">
                                                                                <div class="space_5"></div>
                                                                                <input type="radio" name="radiog_dark" id="oneTimePayment" class="boss-checkbox" value="oneTime" ng-model="paymentFrequency" />
                                                                                <label for="oneTimePayment" class="boss-label radGroup2">One time on</label>
                                                                            </div>
                                                                            <div class="col-md-9">
                                                                                <div class="input-group">
                                                                                    <span class="add-on input-group-addon" ng-click="openPaymentDate($event)">
                                                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                                                    </span>
                                                                                    <input type="text" class="form-control" name="paymentDate" 
                                                                                    datepicker-popup="MM/dd/yyyy" 
                                                                                    ng-model="PaymentDate" 
                                                                                    is-open="openPaymentCal" 
                                                                                    min-date="minDate" 
                                                                                    datepicker-options 
                                                                                    close-text="Close" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">

                                                                        </div>

                                                                    </div>
                                                                    <div class="space_10"></div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-3">
                                                                                <input type="radio" name="radiog_dark" id="recurringPayment" class="boss-checkbox" value="recurring" ng-model="paymentFrequency" />
                                                                                <label for="recurringPayment" class="boss-label radGroup2">Repeat every</label>
                                                                            </div>
                                                                            <div class="col-md-9">
                                                                                <div class="row">
                                                                                    <div class="col-md-5">
                                                                                        <select class="form-control">
                                                                                            <option>Month</option>
                                                                                            <option>Week</option>
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="col-md-1">
                                                                                        <label for="" class="rightlbl">On</label>
                                                                                    </div>
                                                                                    <div class="col-md-6">

                                                                                        <div class="input-prepend input-group">
                                                                                            <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                                                                            <input type="text" class="bootstrap-datepicker form-control" value="02/16/12" data-date-format="mm/dd/yy">
                                                                                        </div>

                                                                                    </div>

                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            <div class="row2">
                                                                                <div class="col-md-2">
                                                                                    <label for="" class="pull-right rightlbl">Until</label>
                                                                                </div>
                                                                                <div class="col-md-5">
                                                                                    <select class="form-control">
                                                                                        <option>Choose one</option>
                                                                                        <option>I Cancel</option>
                                                                                        <option>Date</option>
                                                                                        <option>Year</option>
                                                                                        <option>Amount</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="col-md-5">
                                                                                    <input name="" type="text" class="form-control">
                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel2">Upload Payment documents</a>
            </h4>
                                                        </div>
                                                        <div id="panel2" class="panel-collapse collapse">
                                                            <div class="panel-body">

                                                                <input type="file" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple>

                                                                <div class="space_5"></div>
                                                                <div class="col-md-4">
                                                                    <a href="#">View Uploaded details</a>
                                                                    <div class="clear"></div>
                                                                    <div class="space_20"></div>

                                                                    <label>Document Type :</label>
                                                                    <select class="form-control">
                                                                        <option>Invoice</option>
                                                                    </select>
                                                                    <div class="space_10"></div>
                                                                    <div class="checkbox checkbox-primary">
                                                                        <label>
                                                                            <input type="checkbox" id="inlineCheckbox110" class="custom-checkbox"> Email this Document to Payee
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel3">Message To Recipient </a>
            </h4>
                                                        </div>
                                                        <div id="panel3" class="panel-collapse collapse">
                                                            <div class="panel-body">

                                                                <!-- Start Row  -->
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label">Email Address</label>
                                                                            <div class="col-sm-6">
                                                                                <input name="" type="text" class="form-control" placeholder="ex.test@test.com" ng-model="payment.email">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">

                                                                    </div>
                                                                </div>
                                                                <!-- End Row  -->

                                                                <!-- Start Row  -->
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label">Mobile</label>
                                                                            <div class="col-sm-6">
                                                                                <input name="" type="text" class="form-control" placeholder="(***)-***-****" ng-model="payment.mobile">
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="col-md-6">

                                                                    </div>

                                                                </div>
                                                                <!-- End Row  -->
                                                                <!-- Start Row  -->
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label">Message</label>
                                                                            <div class="col-sm-6">
                                                                                <textarea class="form-control" placeholder="Message" ng-model="payment.messageToRecipient"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">

                                                                    </div>

                                                                </div>
                                                                <!-- End Row  -->

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="clear"></div>

                                            <hr class="line" />
                                            <div class="space_20"></div>
                                            <div ng-include="'app/templates/commons/two_factor.html'"></div>
                                            <div class="space_10"></div>
                                            <div class="clear"></div>

                                            <div class="bg-default content-box text-center pad20A mrg25T">
                                                <div class="alert alert-danger" ng-if="formError">
                                                    <p>Please provide all the Required Fields<code>*</code></p>
                                                </div>

                                                <button class="btn btn-md btn-primary" ng-disabled="!pinVerified" ng-click="makePayment();" type="submit">Payment</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="paymentProcessed">
                        <div ng-include="'app/templates/payments/payment_confirmation.html'"></div>
                    </div>
                </div>

                <!-- WIDGETS -->
                <script type="text/javascript" src="app/assets/themes/admin/imageuploadify.min.js"></script>
                <!-- Theme switcher -->
                <script type="text/javascript" src="app/assets/widgets/theme-switcher/themeswitcher.js"></script>
                <script>
                    jQuery(function($) {
                        var $active = $('#accordion .panel-collapse.in').prev().addClass('active');
                        $active.find('a').prepend('<i class="glyphicon glyphicon-minus"></i>');
                        $('#accordion .panel-heading').not($active).find('a').prepend('<i class="glyphicon glyphicon-plus"></i>');
                        $('#accordion').on('show.bs.collapse', function(e) {
                            $('#accordion .panel-heading.active').removeClass('active').find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
                            $(e.target).prev().addClass('active').find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
                        })
                    });
                </script>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('input[type="file"]').imageuploadify();
                    })
                </script>
            </div>
        </div>
    </div>
</div>