<div>
	<style>
		#text{margin-top:-50px;}
	</style>
    <div class="example-box-wrapper">
        <div id="form-wizard-3">
            <div class="tab-content">
                <script type="text/javascript" src="app/assets/widgets/uniform/uniform-demo.js"></script>
                <div class="tab-pane active" ng-controller="paymentCtrl">
					<div ng-show="!loading"><!-- hide while loading -->
                    <div class="content-box" ng-hide="paymentProcessed">
                        <div class="content-box-wrapper">
                            <div class="paytab">
                                <div class="example-box-wrapper">

                                    <form class="form-horizontal bordered-row paymentForm" novalidate id="paymentForm" name="paymentForm">
                                        <div>
                                            <h3 class="title-hero">Make a Payment</h3>
											<div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">From Account*</label>
                                                        <div class="col-sm-6">
                                                            <select class="form-control" ng-model="bankAccount" name="bankAccount" ng-class="{'txtbxReq': (paymentForm.bankAccount.$error.required && (paymentForm.bankAccount.$touched || paymentForm.$submitted))}" ng-required="true" ng-options="account.nicName +'- ****'+account.accountNumber for account in accountList track by account.id">
                                                                <option value="">Select Account</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-sm-8" ng-show="bankAccount">
                                                        <div class="alert alert-info">
                                                            <p>Account Balance: {{bankAccount.currency}} {{bankAccount.availableBalance | number : 2}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">To Account*</label>
                                                        <div class="col-sm-6">
                                                            <select class="form-control"  name="payee" 
																ng-model="payee" 
																ng-class="{'txtbxReq': (paymentForm.payee.$error.required && (paymentForm.payee.$touched || paymentForm.$submitted))}" 
																ng-required="true"
																>
                                                                <optgroup label="Domestic Payees">
                                                                    <option ng-repeat="payee in payeeList track by $index" value="{{payee.id}}" ng-if="!payee.isInternational">{{payee.legalName}}: ****{{payee.accountNumber | limitTo: 4}}</option>
                                                                </optgroup>
                                                                <optgroup label="International Payees">
                                                                    <option ng-repeat="payee in payeeList track by $index" value="{{payee.id}}" ng-if="payee.isInternational">{{payee.legalName}}: ****{{payee.accountNumber | limitTo: 4}}</option>
                                                                </optgroup>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-sm-8" ng-show="payeeAccount">
                                                        <div class="alert alert-info">
                                                            <p>Bank: Bank of America</p><!-- {{payeeAccount.accountWithBank.name}} -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
											
											 <div ng-if="!payeeAccount.isInternational">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Amount*</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" placeholder="Amount" ng-model="payment.paymentAmount" class="form-control" ng-model="" name="amount" ng-class="{'txtbxReq': (paymentForm.amount.$error.required && (paymentForm.amount.$touched || paymentForm.$submitted))}" ng-required="true" number-format decimals="numberOfDecimals">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                </div>
                                            </div>
                                            
                                        </div>
										<div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Delivery Method*</label>
                                                        <div class="col-sm-6">
                                                            <select class="form-control" ng-model="deliveryMethod" name="deliveryMethod" ng-class="{'txtbxReq': (paymentForm.deliveryMethod.$error.required && (paymentForm.deliveryMethod.$touched || paymentForm.$submitted))}" ng-required="true" ng-change="updatedeliveryMethod(deliveryMethod);">
																<option ng-repeat="deliver in deliveryMethodList track by $index" value="{{deliver.method}}">{{deliver.description}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-sm-8" ng-show="deliveryMethod">
                                                        <div class="alert alert-info">
                                                            <p>Fees: {{payment.feeCcy}} {{payment.feeAmount | number:2}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
											<div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Payment Date*</label>
                                                        <div class="col-sm-6">
                                                             <div class="input-group">
                                                                                    <span class="add-on input-group-addon" >
                                                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                                                    </span>
                                                                                    <input type="text" class="form-control" name="paymentDate" 
                                                                                    datepicker-popup="MM/dd/yyyy" 
                                                                                    ng-model="payment.paymentDate" 
                                                                                    is-open="openPaymentCal" 
                                                                                    min-date="minPaymentDate" 
                                                                                    datepicker-options 
                                                                                    close-text="Close" 
																					ng-click="openPaymentDate($event)"
																					ng-class="{'txtbxReq': (paymentForm.paymentDate.$error.required && (paymentForm.paymentDate.$touched || paymentForm.$submitted))}" ng-required="true" />
                                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
											
                                            <!-- Div for Internation Payment -->
                                            <div ng-show="payeeAccount.isInternational">
                                                <div class="alert alert-info" ng-init="amountOption='equivalent';intermediaryBankFees='Remitter'">
                                                <div class="row" >
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Amount*</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" placeholder="Amount" class="form-control" name="internationalAmount" 
																ng-model="payment.paymentAmount" 
																ng-class="{'txtbxReq': (paymentForm.internationalAmount.$error.required && (paymentForm.internationalAmount.$touched || paymentForm.$submitted))}" 
																ng-required="payeeAccount.isInternational" 
																number-format 
																decimals="numberOfDecimals"
																>
                                                            </div>
                                                        </div><br>
														<div class="international-amount">
															<input type="radio" name="amountOption" id="amountOption1" class="boss-checkbox" value="equivalent" ng-model="amountOption"/>
															<label for="amountOption1" class="boss-label radGroup2">Pay {{bankAccount.currency}} Equivalent</label><br>
															<p><small>The Above amount will be conerted and sent in foreign currency.</small></p>
														</div><br>
														<div class="international-amount">
															<input type="radio" name="amountOption" id="amountOption2" class="boss-checkbox" value="notEquivalent" ng-model="amountOption" />
															<label for="amountOption2" class="boss-label radGroup2">Pay {{payeeAccount.accountCcy}} Equivalent</label><br>
															<p><small>The Above amount will be  sent in foreign currency.</small></p>
														</div>
                                                    </div>
													<div class="col-md-6" id="timerDiv">
														<div class="row">
															<div class="col-xs-6">
																<div class="content-box border-top border-col" ng-show="displayExRateInfo">
																	<h3 class="content-box-header clearfix">
																	</h3>  
																	<div class="content-box-wrapper" >
																		<div >
																			<p>{{expMsg}}</p>
																			<p>{{ratetxt}}</p>
																			<p>{{exchangeRateInformation.baseCcy}} {{exchangeRateInformation.ccy1Amount | number:4}}</p>
																			<p>{{exchangeRateInformation.QuoteCcy}} {{exchangeRateInformation.ccy2Amount | number:4}}</p>
																		</div>
																	</div>
																</div>
																<div class="conten-box-btn text-center mrg25T" ng-show="displayRateTimer">
																<input type="button" ng-click="acceptRate()" value="Accept" class="btn btn-sm btn-primary">
																<input type="button" ng-click="rejectRate()" value="Reject"  class="btn btn-sm btn-danger">
																</div>
																<div class="conten-box-btn text-center mrg25T" ng-hide="displayRateTimer || rateaccepted">
																	<div>
																		<input type="button" ng-click="getRate()" value="Get Rate" class="btn btn-sm btn-primary"
																		ng-class="{'timeOutBtn' : displayExRateInfo , 'getrtBtn' : !displayExRateInfo}"><br>
																		<span class="msg-error">{{getRateError}}</span>
																	</div>
																</div>
															</div>
															<div class="col-xs-6" ng-if="displayRateTimer">
																<ui-knob value="knobValue" options="knobOptions"></ui-knob>
															</div>
														</div>
													</div>
                                                </div>  
                                                </div>
                                                 <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Purpose of Payment*</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" placeholder="Purpose of Payment" ng-model="payment.purposeOfPayment" class="form-control" name="purposeOfPayment" ng-class="{'txtbxReq': (paymentForm.purposeOfPayment.$error.required && (paymentForm.purposeOfPayment.$touched || paymentForm.$submitted))}" ng-required="payeeAccount.isInternational">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>
                                                </div>
											<!-- End -->
											<hr class="line" />
                                            <div class="space_10"></div>
											<div class="optional">
												<div class="panel-group" id="accordion">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel1">Repeat this payment</a>
                                                            </h4>
                                                        </div>
                                                        <div id="panel1" class="panel-collapse collapse">
                                                            <div class="panel-body" ng-style="{height:(openPaymentCal || openFirstPaymentCal || openLastPaymentCal)?'440px':''}">

                                                                <div class="">
                                                                    <div class="space_10"></div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-3">
                                                                                <label for="recurringPayment" class="radGroup2">Every</label>
                                                                            </div>
                                                                            <div class="col-md-9">
                                                                                <div class="row">
                                                                                    <div class="col-md-5">
                                                                                        <select class="form-control"  name="recurringFrequency"
																							ng-model="recurringPayment.frequency"
																							ng-required="recurringPayReq"
																							ng-class="{'txtbxReq': (paymentForm.recurringFrequency.$error.required && (paymentForm.recurringFrequency.$touched || paymentForm.$submitted))}"
																							>
                                                                                            <option>Month</option>
                                                                                            <option>Week</option>
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="col-md-1">
                                                                                        <label for="" class="rightlbl">On</label>
                                                                                    </div>
                                                                                    <div class="col-md-6">
																						<div class="input-prepend input-group">
                                                                                            <div class="input-group">
																								<span class="add-on input-group-addon">
																									<i class="glyphicon glyphicon-calendar"></i>
																								</span>
																								<input type="text" class="form-control" name="firstPaymentDate"  
																									datepicker-popup="MM/dd/yyyy" 
																									ng-model="firstPaymentDate" 
																									is-open="openFirstPaymentCal" 
																									min-date="minPaymentDate" 
																									datepicker-options 
																									close-text="Close" 
																									ng-click="openFirstPaymentDate($event)"
																									ng-required="recurringPayReq"
																									ng-class="{'txtbxReq': (paymentForm.firstPaymentDate.$error.required && (paymentForm.firstPaymentDate.$touched || paymentForm.$submitted))}"
																									/>
																							</div>
																						 </div>
																					</div>
																				</div>
                                                                            </div>

                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            <div class="row2">
                                                                                <div class="col-md-2">
                                                                                    <label for="" class="pull-right rightlbl">Until</label>
                                                                                </div>
                                                                                <div class="col-md-5">
                                                                                    <select class="form-control" name="recurringLimit"
																						ng-model="recurringPayment.limit" 
																						ng-required="recurringPayReq"
																						ng-class="{'txtbxReq': (paymentForm.recurringLimit.$error.required && (paymentForm.recurringLimit.$touched || paymentForm.$submitted))}"
																						>
                                                                                        <option>I Cancel</option>
                                                                                        <option value="Date">The Date</option>
                                                                                        <option value="Amount">The Amount</option>
                                                                                        <option value="noOfPayment">This No of Payment</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="col-md-5" ng-show="recurringPayment.limit=='Date'">
                                                                                    <div class="input-prepend input-group">
                                                                                            <div class="input-group">
																								<span class="add-on input-group-addon">
																									<i class="glyphicon glyphicon-calendar"></i>
																								</span>
																								<input type="text" class="form-control" name="lastPaymentDate" 
																									datepicker-popup="MM/dd/yyyy" 
																									ng-model="lastPaymentDate" 
																									is-open="openLastPaymentCal" 
																									min-date="recurringPayment.firstPaymentDate" 
																									datepicker-options 
																									close-text="Close" 
																									ng-click="openLastPaymentDate($event)"
																									ng-required="recurringPayment.limit=='Date'"
																									ng-class="{'txtbxReq': (paymentForm.lastPaymentDate.$error.required && (paymentForm.lastPaymentDate.$touched || paymentForm.$submitted))}"
																									/>
																							</div>
																						 </div>
																				</div>
																				<div class="col-md-5" ng-show="recurringPayment.limit=='noOfPayment'">
                                                                                    <input name="cronPattern" type="number" class="form-control" placeholder="Number of Payment" 
																					ng-model="recurringPayment.cronPattern" 
																					ng-required="recurringPayment.limit=='noOfPayment'"
																					ng-class="{'txtbxReq': (paymentForm.cronPattern.$error.required && (paymentForm.cronPattern.$touched || paymentForm.$submitted))}">
                                                                                </div>
																				<div class="col-md-5" ng-show="recurringPayment.limit=='Amount'">
                                                                                    <input name="amountPaid" type="text" class="form-control" placeholder="Amount"
																							ng-model="recurringPayment.amountPaid" 
																							number-format="" 
																							decimals="numberOfDecimals"
																							ng-required="recurringPayment.limit=='Amount'"
																							ng-class="{'txtbxReq': (paymentForm.amountPaid.$error.required && (paymentForm.amountPaid.$touched || paymentForm.$submitted))}"
																							>
                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel2">Upload Payment documents</a>
            </h4>
                                                        </div>
                                                        <div id="panel2" class="panel-collapse collapse in">
                                                            <div class="panel-body">
																
            <!----------------------------------------------------------------------->
			<div class="row">
			<div class="col-xs-6">
				<div class="imageuploadify well">
				<div class="imageuploadify-images-list text-center" id="payeeDropbox">
					<i class="glyph-icon icon-cloud-upload"></i>
					<span class="imageuploadify-message">Drag and drop files here to <span class="spnbldtxt">send it to Payee</span> </span>
					<label for="payeeFileToUpload" class="btn btn-default" >or select file to upload</label>
					<input type="file" ng-model-instant id="payeeFileToUpload" multiple onchange="angular.element(this).scope().setPayeeFiles(this)" name="" style=" display: none;" />
					<!-- ng-repeat-->
					<div ng-show="payeeFiles.length">
					<div class="imageuploadify-container" style="margin-left: 21px; margin-right: 0px;" 
								ng-repeat="payeeFile in payeeFiles track by $index">
						<button type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="removePayeeFiles($index)"></button>
						<div class="imageuploadify-details">
							<span>{{payeeFile.webkitRelativePath || payeeFile.name}}</span>
							<span>{{payeeFile.type}}</span>
							<span ng-switch="payeeFile.size > 1024*1024">
								<span ng-switch-when="true">{{payeeFile.size / 1024 / 1024 | number:2}} MB</span>
								<span ng-switch-default>{{payeeFile.size / 1024 | number:2}} kB</span>
							</span>
						</div>
						<img ng-src="app/assets/image-resources/document-icon.png" />
					</div>
					</div>
					<!-- end -->
					<div>
						<div ng-show="progressVisible" >
							<div class="progress-bar">
								<div class="uploaded" ng-style="{'width': progress+'%'}"></div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			</div>
			<div class="col-xs-6">
			<div class="imageuploadify well">
				<div class="imageuploadify-images-list text-center" id="dropbox">
					<i class="glyph-icon icon-cloud-upload"></i>
					<span class="imageuploadify-message">Drag and drop files here for <span class="spnbldtxt">your reference</span> </span>
					<label for="fileToUpload" class="btn btn-default" >or select file to upload</label>
					<input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" name="" style=" display: none;" />
					<!-- ng-repeat-->
					<div ng-show="files.length">
					<div class="imageuploadify-container" style="margin-left: 21px; margin-right: 0px;" 
								ng-repeat="file in files track by $index">
						<button type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="removeFiles($index)"></button>
						<div class="imageuploadify-details">
							<span>{{file.webkitRelativePath || file.name}}</span>
							<span>{{file.type}}</span>
							<span ng-switch="file.size > 1024*1024">
								<span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
								<span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
							</span>
						</div>
						<img ng-src="app/assets/image-resources/document-icon.png" />
					</div>
					</div>
					<!-- end -->
					<div>
						<div ng-show="progressVisible" >
							<div class="progress-bar">
								<div class="uploaded" ng-style="{'width': progress+'%'}"></div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			</div>
			</div>
				
                               
											<div class="space_5"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel3">Message To Recipient </a>
            </h4>
                                                        </div>
                                                        <div id="panel3" class="panel-collapse collapse">
                                                            <div class="panel-body">

                                                                <!-- Start Row  -->
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label">Email Address</label>
                                                                            <div class="col-sm-6">
                                                                                <input name="" type="text" class="form-control" placeholder="ex.test@test.com" ng-model="payment.emailAddress">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">

                                                                    </div>
                                                                </div>
                                                                <!-- End Row  -->

                                                                <!-- Start Row  -->
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label">Mobile</label>
                                                                            <div class="col-sm-6">
                                                                                <input name="" type="text" class="form-control" placeholder="(***)-***-****" ng-model="payment.phoneNumber" phone-input>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="col-md-6">

                                                                    </div>

                                                                </div>
                                                                <!-- End Row  -->
                                                                <!-- Start Row  -->
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label">Message</label>
                                                                            <div class="col-sm-6">
                                                                                <textarea class="form-control" placeholder="Message" ng-model="payment.messageToPayee"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">

                                                                    </div>

                                                                </div>
                                                                <!-- End Row  -->

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="clear"></div>
										<div class="bg-default content-box text-center pad20A mrg25T">
                                                <div class="alert alert-danger" ng-if="formError">
                                                    <p>Please provide all the Required Fields<code>*</code></p>
                                                </div>

                                                <button class="btn btn-md btn-primary" ng-click="makePayment();" type="submit">Review Payment</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="paymentProcessed">
                        <div ng-include="'app/templates/payments/payment_confirmation.html'"></div>
                    </div>
                    </div>
					<div ng-show="loading">
						<div class="example-box-wrapper">
                                <div class="glyph-icon remove-border demo-icon tooltip-button icon-spin-4 icon-spin" title="icon-spin-4"></div>
                         </div>
					</div>
                </div>

                <!-- Theme switcher -->
                <script type="text/javascript" src="app/assets/widgets/theme-switcher/themeswitcher.js"></script>
                <script>
                    jQuery(function($) {
                        var $active = $('#accordion .panel-collapse.in').prev().addClass('active');
                        $active.find('a').prepend('<i class="glyphicon glyphicon-minus"></i>');
                        $('#accordion .panel-heading').not($active).find('a').prepend('<i class="glyphicon glyphicon-plus"></i>');
                        $('#accordion').on('show.bs.collapse', function(e) {
                            $('#accordion .panel-heading.active').removeClass('active').find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
                            $(e.target).prev().addClass('active').find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
                        })
                    });
                </script>
            </div>
        </div>
    </div>
</div>