<div>
    <!--<div id="page-title">
        <h2>Payments and recent transactions of your business operations</h2>
	</div> -->
	<div class="row dftpayment">
		<div class="example-box-wrapper">
            <ul class="list-group row list-group-icons">
                <li class="col-md-3" ng-class="{'active':containerClass =='makePayment'}" >
                    <a ui-sref="makePayment.makeAPayment" class="list-group-item">
                        <span>Make a payments</span>
                    </a>
                </li>
                <li class="col-md-3" ng-class="{'active':containerClass =='paymentActivity'}">
                    <a ui-sref="makePayment.paymentActivity" class="list-group-item">
                        <span>Payment Activity</span>
                    </a>
                </li>
				<li class="col-md-3" ng-class="{'active':containerClass =='managePayees'}">
                    <a ui-sref="makePayment.managePayees" class="list-group-item">
                        <span>Manage Payees</span>
                    </a>
                </li>
				<li class="col-md-3" ng-class="{'active':containerClass =='domesticPayee'||containerClass =='internationalPayee'}">
                    <a ui-sref="makePayment.addAPayee" class="list-group-item">
                        <span>Add a Payee</span>
                    </a>
                </li>
            </ul>
            <!-- Start tab-content  -->
            <div class="tab-content">
			    <div ui-view>
					<div ng-include="'app/templates/payments/make_a_payment.html'"></div>
				</div>
            </div>
        </div>
	</div>
</div>