<div ng-init="displayNewPayment=true;">
    <div id="page-title">
        <h2>Payments and recent transactions of your business operations</h2>
	</div>
	<div class="row dftpayment">
		<div class="example-box-wrapper">
            <ul class="list-group row list-group-icons">
                <li class="col-md-3 active">
                    <a href="#make_a_payment" ng-click="displayNewPayment=true;displayPaymentActivity=false;" data-toggle="tab" class="list-group-item">
                        <span>Make a payment</span>
                    </a>
                </li>
                <li class="col-md-3">
                    <a href="#payment_activity" ng-click="displayNewPayment=false;displayPaymentActivity=true;" data-toggle="tab" class="list-group-item">
                        <span>Payment Activity</span>
                    </a>
                </li>
            </ul>
            <!-- Start tab-content  -->
            <div class="tab-content">
                <!-- Start make-a-payment-panel  -->
                <div class="tab-pane fade active in" id="make_a_payment">
                    <div ng-if="displayNewPayment">
                        <div ng-include="'app/templates/payments/make_a_payment.html'"></div>
                    </div>
                </div>
                <!-- End make-a-pament-panel  -->
                <!-- Start payment-activity-panel  -->
                <div class="tab-pane fade" id="payment_activity">
                    <div ng-if="displayPaymentActivity">
                        <div ng-include="'app/templates/payments/payment_activity.html'"></div>
                    </div>
                </div>
                <!-- End payment-activity-panel  -->
			</div>
        </div>
	</div>
</div>