<!-- Start payment-activity-panel  -->
<div ng-controller="paymentActivityCtrl">

    <div class="clear"></div>
    <div class="table_top">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="pull-right preview"><img src="app/assets/image-resources/pdf.png" alt=""> Preview / Print statement</a>
                <div class="space_20"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">

                <label class="slt_label2">Show transfers for </label>
                <select id="pageSize" name="pageSize" class="selectbx2">
                    <option value="">Past 1 months</option>
                    <option value="">Past 3 months</option>
                    <option value="">Past 6 months</option>
                </select>

                <select id="pageSize" name="pageSize" class="selectbx" ng-model="tableViewby" ng-change="setTableItemsPerPage(tableViewby)">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="-1">All</option>
                </select>
                <label class="slt_label">Per page</label>

                <div class="space_5"></div>

            </div>
            <div class="col-md-4 tblsearch">
                <div class="input-group stylish-input-group">
                    <input type="text" ng-model="searchPaymentActivity" class="form-control" placeholder="Enter Keyword, Amount or Date(mm/dd/yyyy)">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
                <div class="space_5"></div>

            </div>
        </div>

        <div class="clear"></div>
    </div>

    <div class="example-box-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction #</th>
                    <th>Payment Date</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
					<th>Status</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in paymentActivityList.slice(((tableCurrentPage-1)*tableItemsPerPage), ((tableCurrentPage)*tableItemsPerPage)) | filter:searchPaymentActivity track by $index">
                    <td>{{activity.transactionNumber}}</td>
                    <td>{{activity.sendDate | date}}</td>
                    <td>{{activity.fromAccount}}</td>
                    <td>{{activity.toAccount}}</td>
                    <td>{{activity.ccy}} {{activity.amount}}</td>
                    <td>
						<span ng-if="activity.isRecurring==false">{{activity.status}}</span>
						<span ng-if="activity.isRecurring==true">{{activity.status}} <i class="glyph-icon icon-repeat" title="Recurring Payment"></i></span>
					
					</td>
                    <td>
						<a ui-sref="editPayment" class="btn btn-xs btn-primary" title="Edit Payment" ng-if="activity.isRecurring==false">Edit {{$index}}</a>
						<a ui-sref="editRecurringPayment" class="btn btn-xs btn-primary" title="Edit Recurring Payment" ng-if="activity.isRecurring==true"><i class="glyph-icon icon-repeat" title="Recurring Payment"  ></i> Edit</a>
						<div class="toggle-btn">
							<div class="switch">
								<input id="cmn-toggle-{{$index}}" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-click="">
								<label for="cmn-toggle-{{$index}}"></label>
							  </div>
							  </div>
						<!--
						<a href="#" class="btn btn-xs btn-danger" title="">Reject</a>
						<div class="appro">
							<input id="approve10" type="checkbox" name="checkbox" value="1">
							<label for="approve10">Approve</label>
						</div>
						-->
					</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-6">
                <div class="dataTables_info" id="datatable-tabletools_info" role="status" aria-live="polite">Showing page {{tableCurrentPage}} of {{totalTablePagesNumber}}</div>
            </div>
            <div class="col-sm-6">
                <div class="dataTables_paginate paging_bootstrap" id="datatable-tabletools_paginate">
                    <pagination total-items="tableTotalItems" ng-model="tableCurrentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="totalTablePagesNumber" items-per-page="tableItemsPerPage"></pagination>
                </div>
            </div>
        </div>
    </div>

</div>