

                    
<div ng-controller="paymentActivityCtrl">
	<script type="text/javascript" src="app/assets/widgets/input-switch/inputswitch.js"></script>
    <script>
        $(function() {
            "use strict";
            $('.input-switch').bootstrapSwitch();
        });
    </script>
	<div class="tab-pane active" id="tab-example-2">
	<div class="panel">
        <div class="panel-body">
            <h3 class="title-hero">
									Scheduled Payments
								</h3>
            <div class="example-box-wrapper">
                <div id="datatable-tabletools_wrapper" class="dataTables_wrapper form-inline no-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_length" id="datatable-tabletools_length">
                                <label>
                                    <select name="datatable-tabletools_length" ng-model="tableViewby" ng-change="setTableItemsPerPage(tableViewby)" class="form-control">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> records per page</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!--<div id="btn-div" class="pull-right adnw">
                                <button class="btn btn-default"> Add New</button>
                            </div> -->
                            <div id="datatable-tabletools_filter" class="dataTables_filter">
                                <label>
                                    <input type="search" class="form-control" placeholder="Search..." ng-model="searchPaymentActivity">
                                </label>
                            </div>
                        </div>
                    </div>
                    <table id="datatable-tabletools" class="table table-striped table-bordered responsive no-wrap datatable-tabletools dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-tabletools_info" style="width: 100%;">

                        <thead>
                            <tr role="row">
                                <th>Transaction #</th>
								<th>Payment Date</th>
								<th>From</th>
								<th>To</th>
								<th>Amount</th>
								<th>Status</th>
								<th class="nosort">Approve</th>
								<th class="nosort">Actions</th>
                            </tr>
                        </thead>
						<tbody>
							<tr role="row" class="odd" ng-repeat="activity in paymentActivityList.slice(((tableCurrentPage-1)*tableItemsPerPage), ((tableCurrentPage)*tableItemsPerPage)) | filter:searchPaymentActivity track by $index">
                                <td>{{activity.transactionNumber}}</td>
								<td>{{activity.sendDate | date}}</td>
								<td>{{activity.fromAccount}}</td>
								<td>{{activity.toAccount}}</td>
								<td>{{activity.ccy}} {{activity.amount}}</td>
								<td>
									<span ng-if="activity.isRecurring==false">{{activity.status}}</span>
									<span ng-if="activity.isRecurring==true">{{activity.status}} <i class="glyph-icon icon-repeat" title="Recurring Payment"></i></span>
								
								</td>
								<td>
									<input type="checkbox" data-on-color="primary" name="checkbox-example-1" class="input-switch" checked data-size="small" data-on-text="On" data-off-text="Off">
								</td>
								<td>
									<a ui-sref="home.makePayment.editPayment({paymentId:activity.transactionNumber})" class="btn btn-xs btn-primary" title="Edit Payment" ng-if="activity.isRecurring==false">Edit</a>
									<a ui-sref="home.makePayment.editRecurringPayment({paymentId:activity.transactionNumber})" class="btn btn-xs btn-primary" title="Edit Recurring Payment" ng-if="activity.isRecurring==true"><i class="glyph-icon icon-repeat" title="Recurring Payment"  ></i> Edit</a>
									<a href="#" class="btn btn-xs btn-danger" title="">Reject</a>
								</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="datatable-tabletools_info" role="status" aria-live="polite">Showing page {{tableCurrentPage}} of {{totalTablePagesNumber}}</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_bootstrap" id="datatable-tabletools_paginate">
                                <pagination total-items="tableTotalItems" ng-model="tableCurrentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="totalTablePagesNumber" items-per-page="tableItemsPerPage"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Recent Payment Section -->
<div class="tab-pane active" id="tab-example-2">
	<div class="panel">
        <div class="panel-body">
            <h3 class="title-hero">
									Recent Payments
								</h3>
            <div class="example-box-wrapper">
                <div id="datatable-tabletools_wrapper" class="dataTables_wrapper form-inline no-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_length" id="datatable-tabletools_length">
                                <label>
                                    <select name="datatable-tabletools_length" ng-model="recentTableViewby" ng-change="setRecentPaymentListTableItemsPerPage(recentTableViewby)" class="form-control">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                    </select> records per page</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!--<div id="btn-div" class="pull-right adnw">
                                <button class="btn btn-default"> Add New</button>
                            </div> -->
                            <div id="datatable-tabletools_filter" class="dataTables_filter">
                                <label>
                                    <input type="search" class="form-control" placeholder="Search..." ng-model="searchRecentPaymentActivity">
                                </label>
                            </div>
                        </div>
                    </div>
                    <table id="datatable-tabletools" class="table table-striped table-bordered responsive no-wrap datatable-tabletools dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-tabletools_info" style="width: 100%;">

                        <thead>
                            <tr role="row">
                                <th>Transaction #</th>
								<th>Payment Date</th>
								<th>From</th>
								<th>To</th>
								<th>Amount</th>
								<th>Status</th>
                            </tr>
                        </thead>
						<tbody>
							<tr role="row" class="odd" ng-repeat="activity in recentPaymentActivityList.slice(((recentTableCurrentPage-1)*recentTableItemsPerPage), ((recentTableCurrentPage)*recentTableItemsPerPage)) | filter:searchRecentPaymentActivity track by $index">
                                <td>{{activity.transactionNumber}}</td>
								<td>{{activity.sendDate | date}}</td>
								<td>{{activity.fromAccount}}</td>
								<td>{{activity.toAccount}}</td>
								<td>{{activity.ccy}} {{activity.amount}}</td>
								<td>
									<span ng-if="activity.isRecurring==false">{{activity.status}}</span>
									<span ng-if="activity.isRecurring==true">{{activity.status}} <i class="glyph-icon icon-repeat" title="Recurring Payment"></i></span>
								
								</td>
							</tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="datatable-tabletools_info" role="status" aria-live="polite">Showing page {{recentTableCurrentPage}} of {{recentTotalTablePagesNumber}}</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_bootstrap" id="datatable-tabletools_paginate">
                                <pagination total-items="recentTableTotalItems" ng-model="recentTableCurrentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="recentTotalTablePagesNumber" items-per-page="recentTableItemsPerPage"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






</div>