/* Dashboard Admin Template Custom */
 a {
    color: #333;
}
.clear {
	clear:both;
}
/*.accounts_dash {
}
.accounts_dash .list-group-icons .list-group-item  {
    border-color:#cccccc;
	border-radius:8px;
	 padding: 8px 0px;
}*/

.payment_dash .list-group-icons .list-group-item  {
    border-color:#cccccc;
	border-radius:8px;
	 padding: 15px 0px;
	 margin-bottom:5px;
}
.payment_dash .list-group-icons .list-group-item span {
    font-size: 18px !important;
    display: inline-block;
    float: none;
    margin: 0 auto;
    text-align: left;
    letter-spacing: 1px;
}
.accounts_dash .list-group {
	margin-bottom:5px !important;
}

.accounts_dash .list-group-icons .list-group-item span  {
    font-size: 18px !important;
	display: inline-block; 
    float: none;
    margin: 0 auto;
	text-align:left;
	letter-spacing:1px;
}
.accounts_dash .list-group-icons .list-group-item > .glyph-icon {
    font-size: 45px !important;
    display: inline-block; 
    float: none;
    margin: 0 20px 0 auto;
    color: #595959;
}
#page-content > .container {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    width: 100%;
}
.accounts_dash .tab-pane {
    padding: 15px 0px;
}
.summary_outer {
	/*background-color:#eeeeee;*/
	border:1px solid #dfe8f1;
	/*-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;*/
	padding:25px 20px 15px 20px;
	margin-bottom:20px;
}
.bankdtl_header {
	font-size:18px;
	color:#2d2d2d;
	font-weight:600;
	margin-bottom:10px;
}
.bankdtl_header span {
	font-size:13px;
	display:block;
	font-weight:normal;
}
.viewall_btn {
	background-color:#00bca4 !important;
	color:#FFF !important;
	border:none !important;
	float:right;
	margin-top:5px;
	font-size:12px;
	letter-spacing:1px;
}
/*.summary_outer:hover {
	background-color:#80afbf;
	border:1px solid #80afbf;	
}
.summary_outer.active {
	background-color:#80afbf;
	border:1px solid #80afbf;	
}
.summary_outer.active .bankdtl_header {
	color:#FFF;	
}
.summary_outer:hover .bankdtl_header {
	color:#FFF;	
}
.summary_outer.active .viewall_btn {
	background-color:#dcf0f7 !important;
	color:#3b6b7c !important;
	border:none !important;
}
.summary_outer:hover .viewall_btn {
	background-color:#dcf0f7 !important;
	color:#3b6b7c !important;
	border:none !important;
}*/
.table_top {
	margin:15px 0;
	display: inline-block;
    width: 100%;
}
.selectbx {
	margin-right:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	width:100px;
	padding:0 10px;
	height:40px;
	border:1px solid #CCC;
	float:left;
	font-size:16px;
}
.selectbx2 {
	margin:0 10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	width:100%;
	max-width:200px;
	padding:0 10px;
	height:40px;
	border:1px solid #CCC;
	float:left;
	font-size:16px;
}
.slt_label {
	margin-top: 10px;
}
.slt_label2 {
	margin-top: 10px;
	float:left;
}
.tblsearch .stylish-input-group .input-group-addon{
    background-color: transparent !important; 
	/*border:1px solid #CCC !important;*/
	border-left:none !important;
}
.tblsearch .stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	height:40px;
	border:1px solid #CCC !important;
	border-right:none !important;
}
.tblsearch .stylish-input-group button{
    border:0;
    background-color: transparent !important; 
	
}
.tblsearch .open > .dropdown-menu {
    display: block;
    background-color: #DDD;
}
.tblsearch .button-pane  {
	border:none !important;
}
.space_10 {
	width:100%;
	float:left;
	height:10px;
	clear:both;
}
.space_5 {
	width:100%;
	float:left;
	height:5px;
	clear:both;
}
.space_20 {
	width:100%;
	float:left;
	height:20px;
	clear:both;
}
.space_30 {
	width:100%;
	float:left;
	height:30px;
	clear:both;
}
.space_40 {
	width:100%;
	float:left;
	height:40px;
	clear:both;
}
.bankform {
	display:block
}
.bigrdo input[type=radio   ]:not(old){
  margin  : 0;
  padding : 0;
  opacity : 0;
  width   : 28px;
  
}

.bigrdo input[type=radio   ]:not(old) + label{
  display      : inline-block;
  height  : 41px;
 margin-left  : -28px;
  padding-left : 52px;
  background   : url('../../../assets/image-resources/bigradio_btn.png') no-repeat 0 0;
  line-height  : 41px;
  font-size: 18px;
  margin-right: 20px;
  cursor:pointer;
}

.bigrdo input[type=radio]:not(old):checked + label{
  background-position : 0 -41px;
}

/* ------------- */
.smallrdo input[type=radio   ]:not(old){
  margin  : 0;
  padding : 0;
  opacity : 0;
  width   : 24px;
  
}

.smallrdo input[type=radio   ]:not(old) + label{
  display      : inline-block;
  height  : 25px;
 margin-left  : -24px;
  padding-left : 32px;
  background   : url('../../../assets/image-resources/smallradio_btn.png') no-repeat 0 0;
  line-height  : 24px;
  font-size: 14px;
  margin-right: 20px;
  cursor:pointer;
}

.smallrdo input[type=radio]:not(old):checked + label{
  background-position : 0 -25px;
}

/* ------------- */
.documents input[type=checkbox]:not(old) {
  margin  : 0;
  padding : 0;
  opacity : 0;
  width   : 24px;
  
}

.documents input[type=checkbox]:not(old) + label{
  display      : inline-block;
  height  : 38px;
 margin-left  : -24px;
  padding-left : 45px;
  background   : url('../../../assets/image-resources/greenrdo.png') no-repeat 0 0;
  line-height  : 38px;
  font-size: 14px;
  margin-right: 20px;
  cursor:pointer;
}

.documents input[type=checkbox]:not(old):checked + label{
  background-position : 0 -38px;
}
h3.subhead {
	font-size: 19px;
    font-weight: normal;
    text-align: left;
    color: #333333;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3.subhead span {
    color: #00bca4;
}
.frmlbl {
	display:block;
	margin-top:15px;
}
.frmtxtbx {
	border:1px solid #d1d1d1;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
    padding: 5px 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.toprdosec {
  width: 100%;
  float: left;
  padding-bottom: 10px;
}
.dftpayment .tab-pane {
    padding: 0px 0px 15px 0;
}
.frmamtbx {
	border:1px solid #d1d1d1;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
    padding: 5px 5px;
    width: 100%;
	max-width:250px;
    height: 50px;
    line-height: 40px;
	font-size:18px;
}
.radio_block {
	display:block;
	margin-bottom:5px;
}
.btnouter {
	text-align:center;
	width:100%;
	float:left;
}
.btnouter button {
	margin:0 4px;
	min-width:100px;
}
.fldrqd {
	color:#888;
	font-size:12px;
	margin-top:5px;
	float: left;
    width: 100%;
}
.frmtxtarea {
	border:1px solid #d1d1d1;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
    padding: 5px 5px;
    width: 100%;
    height: 80px;
}
.bankdtls {
	padding: 20px 20px 40px 20px;
    background-color: #ebebeb;
    float: left;
    width: 100%;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
/*-------------------------* */
.optional {
	padding:10px 0;
	float: left;
    width: 100%;
}
.optional .checkbox label {
     padding-left: 0px; 
}
.optional .panel {
    border:0;
}
.optional .panel-heading {
  background-color: #fff;
  border: 1px solid #dfe8f1;
	padding:0px;
}
.optional .accordion-toggle i {
    font-weight: normal;
	color:#00bca4;
}
.optional .panel-heading.active i {
   
	color:#fff;
}
.optional .accordion-toggle {
      text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
}
.optional .accordion-toggle:hover {
  text-decoration:none;
  background-color:#00bca4;
  color:#FFF !important;
}
.optional .accordion-toggle:hover i {
  color:#FFF !important;
}
.optional .panel-heading.active {
    background-color:#00bca4;
	border:1px solid #00bca4;
	color:#fff;
	border-radius: 3px;
}
.optional .panel-group .panel-heading + .panel-collapse .panel-body {
	border:0 !important;
  padding: 20px 0px;
}

.smallrdo div.radio[id^='uniform-'] > span {
    margin-top: 0px;
}
.smallrdo .form-horizontal .radio {
   padding-top: 0px;
}
.form-horizontal .radio {
   padding-top: 0px;
}
.optional .accordion-toggle i {
	float:right;
}

	.verfication_text  {
		color:#333;
		text-align:left;
		font-size:15px;
	}
	.verfication_text span  {
		color:#00bca4;
	}
	.account_balance {
		    background-color: #EEE;
    padding: 5px 20px;
    display: block;
    font-size: 13px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	}


.imageuploadify {
    border: 1px dashed #d2d2d2;
    position: relative;
    min-width: 250px;
    max-width: 408px;
    min-height: 225px;
    /*margin: auto;*/
    display: flex;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    color: #3AA0FF
}

.imageuploadify .imageuploadify-overlay {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    display: none;
    font-size: 7em;
    background-color: rgba(242, 242, 242, .7);
    text-align: center;
    pointer-events: none
}

.imageuploadify .imageuploadify-overlay i {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none

}

.imageuploadify .imageuploadify-images-list {
    display: inline-block;
    margin-top: 15%;
}

.imageuploadify .imageuploadify-images-list i {
    display: block;
    font-size: 35px;
    text-align: center;
    margin-top: .2em;
     color:#00bca4;
}

.imageuploadify .imageuploadify-images-list span.imageuploadify-message {
    font-size: 16px;
    display: inline-block;
      color:#333333;
}

.imageuploadify .imageuploadify-images-list button.btn-default {
    display: block;
    color: #00bca4;
    border-color: #00bca4 !important;
    border-radius: 1em;
    margin: 25px auto;
    width: 100%;
    max-width: 300px;
	outline:none;
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
    float: left;
    border-radius: 12px;
    box-shadow: 0 0 4px 0 #888
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container button.btn-danger {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    font-size: 10px;
    line-height: 1.42;
    padding: 2px 0;
    text-align: center;
    z-index: 3
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container img {
    height: 100px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container .imageuploadify-details {
    position: absolute;
    top: 0;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: rgba(255, 255, 255, .5);
    z-index: 2;
    opacity: 0
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container .imageuploadify-details span {
    display: block
}
.preview {
	color:#333;
}
.fxdtext {
	padding:10px;
	background-color:#366395;
	color:#FFF;
	    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
	display:none;
}
.tp_boss {
	color:#FFF;
	    display: inline-block;
    margin-top: 8%;
	font-size:16px;
	letter-spacing:1px;
}
.rightlbl {
	margin-top:5px;
}
.loginlogo {
	    margin: 0 auto 20px auto;
    display:block;
}
.login_bg {
	background: radial-gradient(circle at 1.98% 20.98%, #4b6cb7, transparent 100%),radial-gradient(circle at 98.02% 20.98%, #182848, transparent 100%),radial-gradient(circle at 50% 50%, #0cc285, #0cc285 100%);
}
.adres {
	display:block;
	font-size:13px;
}
.confirm_head {
	font-size:18px;
	font-weight:bold;
	color:#00bca4;
	text-align:right;
	margin-bottom:10px;
	width:50%;
}
.confirm_smlhead {
	font-size:15px;
	font-weight:nornal;
	color:#333;
	text-align:right;
	margin-bottom:10px;
	width:50%;
	float:left;
}
.confirm_details {
	font-size:15px;
	font-weight:nornal;
	color:#000;
	text-align:left;
	margin-bottom:10px;
	width:50%;
	float:left;
	padding:0 0 0 10px;
}
ul.paydls {
	list-style:none;
	padding: 0;
    margin: 0px;
}

.appro {
	display: inline-block;
}
.appro  input[type=checkbox]:not(old) {
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
  cursor: pointer;
}

.appro input[type=checkbox]:not(old) + label {
      display: inline-block;
    margin-left: -25px;
    padding-left: 27px;
    background: url(../../../assets/image-resources/approve.png) no-repeat 0 0;
    line-height: 22px;
    font-size: 12px;
	cursor:pointer;
}

.appro input[type=checkbox]:not(old):checked + label{
  background-position : 0 -22px;
}

.appro .bootstrap-switch {
  margin: 0 10px 5px 0;
}
.recurring {
	color:#00bca4;
}
.btn-xs, .btn-group-xs > .btn {
    min-width: 48px;
}
#page-title h2 span {
  color: #00ceb4;
}
.table-responsive {
    /*overflow-x: inherit;*/
}
.nsearch_outer {
  padding: 10px;
  border-radius: 5px;
  background-color: #EEE;
  border:1px solid #DDD;
}
.nsearch_outer .frmlbl {
    margin-top: 5px;
}

.fx_outer {
  padding: 35px 20px;
  border-radius: 8px;
  background-color: #F2F2F2;
  border:1px solid #DDD;
  text-align: center;
  margin-bottom: 10px;
}
.fx_outer button, .fx_outer .btn  {
  width: 100%;
  max-width: 150px;
}
#page-sidebar.font-inverse #sidebar-menu li .sidebar-submenu ul li {
    /* border-color: rgba(255, 255, 255, 0.07); */
    border: none;
}
#page-sidebar.font-inverse #sidebar-menu li .sidebar-submenu {
    /* border-color: rgba(255, 255, 255, 0.08); */
    background: transparent;
    border: none;
}
#page-sidebar.font-inverse #sidebar-menu li .sidebar-submenu ul li a:hover {
    background: none;
}
.shbtn {
  width: 100%;
  float: left;
}
.shbtn button {
  min-width: 85px;
  margin: 0 5px 5px 0;
}
table .btn {
  margin: 2px 0;
}
table.last tr td:last-child {
   text-align: right;
}
.adnw {
  margin-left: 5px;
}
.paytab {

}
.paytab .radio-inline {
    padding-left: 0px;
}
 .paytab .radio-inline input[type="radio"] {
    margin-left: 0px;
}
.dftpayment .example-box-wrapper .nav {
  margin-bottom: 0px;

}
hr.line {
    border-top:1px dashed #dfe8f1;
}
 label.perm_lbl {
  margin-left: 10px;
}
.acl_tree .dd-handle {
display: inline-block !important;
    border: none;
        max-width: 300px;
    width: 100%;
}
.acl_tree ol .dd-handle {
    font-size: 15px;
    font-weight:bold;
}
.acl_tree ol .dd-handle.nosub {
    margin-left: 26px;
}
.acl_tree ol ol .dd-handle {
        max-width: 295px;
    width: 100%;
     font-size: 13px;
    font-weight:normal;
}
.acl_tree .dd-item > button {
    width: 25px;
    height: 20px;
    margin: 7px 0;
    font-size: 25px;
}
.acl_tree .dd-tgle {
display: inline-block !important;
}
.popover-content .form-group label {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: normal;
}
@media only screen and (min-width: 1250px) {
	
}
@media only screen and (max-width: 1080px) {
	.tp_boss {
   display:none;
}
.fxdtext {
	
	display:block;
}
}
@media only screen and (min-width: 1080px) and (max-width: 1250px) {
	.tp_boss {
    margin-top: 9%;
	font-size:14px;
}
 .tp_boss span {
    display:block;
}
}
@media only screen and (min-width: 992px) and (max-width: 1050px) {
	.payment_dash .list-group-icons .list-group-item span {
    font-size: 15px !important;
}
}
@media only screen and (max-width: 1250px) {
	
}
@media only screen and (max-width: 992px) {
	.accounts_dash .list-group li { margin-bottom: 5px !important;}
}
@media only screen and (max-width: 600px) {
	.selectbx2 { margin: 0px 0px 5px 0px; width: 100%; max-width: 100%;}
	.slt_label { margin-top: 10px; float: left;}
	.bigrdo input[type=radio ]:not(old) + label { display: block; margin-left: 0;}
	
}

@media only screen and (max-width: 767px) {
	
}




.txtbxReq{
	border:#e03838 1px solid;
}
.form-wizard > ul {
					display: block;
					}
#recuringRow .txtsmall{ width:42px !important;}	
/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 22px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 23px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 35px;
}
.toggle-btn{
	margin:-23px -36px 0px 53px;
}
