<div ng-init="payee = 'domestic';">
    <div class="bankform">
        <div class="bigrdo">
            <input id="domestic" type="radio" name="radio" value="domestic" checked="checked" ng-model="payee">
            <label for="domestic">Domestic (US)</label>
            <input id="international" type="radio" name="radio" value="international" ng-model="payee">
            <label for="international">International</label>
        </div>
        <div ng-if="payee=='domestic'">
			<div ng-include="'payees/add_new_payee_domestic.html'"></div>
		</div>
		<div ng-if="payee=='international'">
			<div ng-include="'payees/add_new_payee_international.html'"></div>
		</div>
    </div>
</div>