<div id="loginForm">
	<div id="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<style type="text/css">

    html,body {
        height: 100%;
		    }
	#test{padding-top: 11%;}

</style>

<div id="test" class="center-vertical" ng-controller='LoginCtrl'>
    <div class="center-content row" ng-init="error=false;">

        <form name="loginForm" id="login-validation" class="col-md-4 col-sm-5 col-xs-11 col-lg-3 center-margin form-horizontal"  method="post" ng-submit="submit()" novalidate form-autofill-fix>
           <img src="app/assets/image-resources/logo-admin.png" class="loginlogo" alt="Western Alliance Bank">
            <div id="login-form" class="content-box bg-default">
                <div class="content-box-wrapper pad20A">
                    <img class="mrg25B center-margin radius-all-100 display-block" src="app/assets/image-resources/gravatar.jpg" alt="">
                    <div class="form-group">
                        <div class="input-group">
                           
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email/userName" name="username"
							ng-model="credentials.username" 
							ng-required="true" 
							ng-class="{'txtbxReq': (loginForm.username.$error.required && (loginForm.username.$touched || loginForm.$submitted))}"
							autocomplete="off">
                        </div>
					</div>
                    <div class="form-group">
                        <div class="input-group">
                          
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password"
							ng-model="credentials.password" 
							ng-required="true" 
							ng-class="{'txtbxReq': (loginForm.password.$error.required && (loginForm.password.$touched || loginForm.$submitted))}"
							autocomplete="off">
                        </div>
					</div>
                      <!--div class="form-group">
                        <div class="input-group">
                          
                            <input type="" class="form-control" id="exampleInputPassword1" placeholder="Verification Code">
                        </div>
                    </div>-->
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary" >Login</button>
						<p ng-show="error" class="error">The password you entered is incorrect.
						Please try again (make sure your caps lock is off).</p>
                    </div>
                    <div class="row">
                        <div class="checkbox-primary col-md-6" style="height: 20px;">
                            <label>
                                <input type="checkbox" id="loginCheckbox1" class="custom-checkbox">
                                Remember me 
                            </label>
                        </div>
                        <div class="text-right col-md-6">
                            <a ui-sref="home" class="switch-button" switch-target="#login-forgot" switch-parent="#login-form" title="Recover password">Forgot your password?</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="login-forgot" class="content-box bg-default hide">
                <div class="content-box-wrapper pad20A">

                    <div class="form-group">
                        <label for="exampleInputEmail2">Email address:</label>
                        <div class="input-group">
                            <span class="input-group-addon addon-inside bg-gray">
                                <i class="glyph-icon icon-envelope-o"></i>
                            </span>
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                        </div>
                    </div>
                </div>
                <div class="button-pane text-center">
                    <button type="submit" class="btn btn-md btn-primary">Recover Password</button>
                    <a href="#" class="btn btn-md btn-link switch-button" switch-target="#login-form" switch-parent="#login-forgot" title="Cancel">Cancel</a>
                </div>
            </div>

        </form>

    </div>
</div>
</div>