<script type="text/javascript" src="app/assets/widgets/input-switch/inputswitch.js"></script>
    <script>
        /* Input switch */
		$(function() {
            "use strict";
            $('.input-switch').bootstrapSwitch();
        });
    </script>
<div ng-controller="userNewEditCtrl">
    
    <div class="panel">
        <div class="panel-body">
            <h3 class="title-hero">
				Add/Edit User
			</h3>
			<!----------------------------------------------->
			<div ng-show="loadingggggggggggggg">
				<div class="example-box-wrapper">
        <ul class="list-group row list-group-icons">
            <li class="col-md-3 active">
                <a href="#tab-example-2" data-toggle="tab" class="list-group-item">
                    <i class="glyph-icon font-red icon-bullhorn"></i>
                    Personal Information
                </a>
            </li>
            <li class="col-md-3">
                <a href="#tab-example-1" data-toggle="tab" class="list-group-item">
                    <i class="glyph-icon icon-dashboard"></i>
                    Account Settings
                </a>
            </li>
			
			
        </ul>
        <div class="tab-content">
			<div class="tab-pane active" id="tab-example-2">
                <div class="content-box">
                    <form class="form-horizontal pad15L pad15R bordered-row">
                        <div class="form-group remove-border">
                            <label class="col-sm-3 control-label">First Name:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="" placeholder="First name...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Last Name:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="" placeholder="Last name...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="" placeholder="Email address...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Website:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="" placeholder="Website...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">About me:</label>
                            <div class="col-sm-6">
                                <textarea name="" rows="3" class="form-control textarea-autosize"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Profile Picture:</label>
                            <div class="col-sm-6">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                    <div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="...">
                                    </span>
                                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="button-pane mrg20T">
                        <button class="btn btn-info">Save</button>
                        <button class="btn btn-link font-gray-dark">Cancel</button>
                    </div>
                </div>
            </div>
			
            <div class="tab-pane " id="tab-example-1">
                <div class="alert alert-close alert-success">
                    <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove"></a>
                    <div class="bg-green alert-icon">
                        <i class="glyph-icon icon-check"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">Example Infobox</h4>
                        <p>Lorem ipsum dolor sic amet dixit tu...</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-box">
                            <form class="form-horizontal clearfix pad15L pad15R pad20B bordered-row">
                                <div class="form-group remove-border">
                                    <label class="col-sm-7 control-label">Enable account:</label>
                                    <div class="col-sm-3">
                                        <input type="checkbox" class="input-switch-alt">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-7 control-label">Visible Profile</label>
                                    <div class="col-sm-3">
                                        <input type="checkbox" checked class="input-switch-alt">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-7 control-label">Hide timeline</label>
                                    <div class="col-sm-3">
                                        <input type="checkbox" data-on-color="danger" data-size="small" name="checkbox-example-1" class="input-switch" data-on-text="On" data-off-text="Off">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-7 control-label">Is it active?</label>
                                    <div class="col-sm-3">
                                        <input type="checkbox" data-on-color="info" data-size="small" name="checkbox-example-2" class="input-switch" data-on-text="On" data-off-text="Off">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-7 control-label">Radio example</label>
                                    <div class="col-sm-3">
                                        <input type="checkbox" data-on-color="success" data-size="small" name="checkbox-example-3" class="input-switch" checked data-on-text="On" data-off-text="Off">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-box mrg15B">
                            <h3 class="content-box-header clearfix">
                                Change Password
                                <div class="font-size-11 float-right">
                                    <a href="#" title="">
                                        <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                                    </a>
                                    <a href="#" title="">
                                        <i class="glyph-icon opacity-hover icon-cog"></i>
                                    </a>
                                </div>
                            </h3>
                            <div class="content-box-wrapper pad0T clearfix">
                                <form class="form-horizontal pad15L pad15R bordered-row">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Old password:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">New password:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Repeat password:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="button-pane mrg20T">
                                <button class="btn btn-success">Update Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
			
			
			</div>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			<!---------------------------------------------------------->
			<div ng-show="!loading">
			<div class="example-box-wrapper">
                <form class="form-horizontal bordered-row userForm" novalidate id="userForm" name="userForm" >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">First Name*</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="First name" class="form-control" name="firstName"
									ng-model="user.firstName"
									ng-class="{'txtbxReq': (userForm.firstName.$error.required && (userForm.firstName.$touched || userForm.$submitted))}" 
									ng-required="true"
									/>
								</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Last Name*</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Last name" class="form-control" name="lastName"
									ng-model="user.lastName"
									ng-class="{'txtbxReq': (userForm.lastName.$error.required && (userForm.lastName.$touched || userForm.$submitted))}" 
									ng-required="true"
									/>
								</div>
                            </div>
                        </div>
                    </div>
					
					<div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">User Name*</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="User name" class="form-control" name="userName"
									ng-model="user.userName"
									ng-class="{'txtbxReq': (userForm.userName.$error.required && (userForm.userName.$touched || userForm.$submitted))}" 
									ng-required="true"
									/>
								</div>
                            </div>
                        </div>
					</div>
					
					<div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Password*</label>
                                <div class="col-sm-6">
                                    <input type="password" placeholder="Password" class="form-control" name="password"
									ng-model="user.password"
									ng-class="{'txtbxReq': (userForm.password.$error.required && (userForm.password.$touched || userForm.$submitted))}" 
									ng-required="true"
									/>
								</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Re-Password*</label>
                                <div class="col-sm-6">
                                    <input type="password" placeholder="Re Enter Password" class="form-control" name="rePassword"
									ng-model="user.rePassword"
									ng-class="{'txtbxReq': (userForm.rePassword.$error.required && (userForm.rePassword.$touched || userForm.$submitted))}" 
									ng-required="true"
									/>
								</div>
                            </div>
                        </div>
                    </div>
					
					<div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email*</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Email Address" class="form-control" name="email"
									ng-model="user.email"
									ng-class="{'txtbxReq': (userForm.email.$error.required && (userForm.email.$touched || userForm.$submitted))}" 
									ng-required="true"
									/>
								</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Phone Number*</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Phone Number" class="form-control" name="phoneNumber"
									ng-model="user.phoneNumber"
									ng-class="{'txtbxReq': (userForm.phoneNumber.$error.required && (userForm.phoneNumber.$touched || userForm.$submitted))}" 
									ng-required="true"
									/>
								</div>
                            </div>
                        </div>
                    </div>
					
					
                   

                    <div class="row">
                        <div class="panel">
                            <div class="panel-body">
                                <h3 class="title-hero">
							  Access Permissions for - User
							</h3>

                                <div class="example-box-wrapper">
                                    <div class="row">
                                        <div class="col-xs-3">
                                        </div>
                                        <div class="col-xs-6">
                                            

                                                <div class="dd acl_tree" id="nestable">
                                                    <ol class="dd-list">
                                                        <li class="dd-item">
                                                            <div class="dd-handle">Payments {{entitlement.payments}}</div>
                                                            <ol class="dd-list">
                                                                <li class="dd-item">
                                                                    <div class="dd-handle">Manage Payments</div>
                                                                    <div class="dd-tgle">
																		<div class="onoffswitch">
																			<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="managePayments" ng-model="entitlement.managePayments" >
																			<label class="onoffswitch-label" for="managePayments">
																				<span class="onoffswitch-inner"></span>
																			</label>
																		</div>
																	</div>
                                                                </li>
                                                            </ol>

                                                        </li>
                                                        <li class="dd-item">
                                                            <div class="dd-handle">Admin</div>
                                                            <ol class="dd-list">
                                                                <li class="dd-item">
                                                                    <div class="dd-handle">Manage Users</div>
                                                                    <div class="dd-tgle">
                                                                        <div class="onoffswitch">
																			<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="managUsers" ng-model="entitlement.managUsers" >
																			<label class="onoffswitch-label" for="managUsers">
																				<span class="onoffswitch-inner"></span>
																			</label>
																		</div>
                                                                    </div>
                                                                </li>
                                                            </ol>
														</li>
                                                    </ol>
                                                </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
					
                    <div class="bg-default content-box text-center pad20A mrg25T">
					<div class="alert alert-danger" ng-show="error">
                        <p>{{errorMsg}}</p>
                    </div>
                        <button ui-sref="home.admin.manageUsers" class="btn btn-md btn-default" ui-sref="manageUsers">Cancel </button>
                        <input type="submit" class="btn btn-md btn-primary" value="Add User" ng-click="submitUser();">
                    </div>
                </form>
            </div>
            </div>
			<div ng-show="loading">
						<div class="example-box-wrapper">
							<div class="glyph-icon remove-border demo-icon tooltip-button icon-spin-4 icon-spin" title="icon-spin-4"></div> 
						</div>
					</div>
        </div>
    </div>

</div>