
<div>
        <div id="page-content-wrapper">
            <div id="page-content" style="margin-left:0px">
                
                    <div class="container">
                    

<!-- Flot charts -->

<script type="text/javascript" src="app/assets/widgets/charts/flot/flot.js"></script>
<script type="text/javascript" src="app/assets/widgets/charts/flot/flot-resize.js"></script>
<script type="text/javascript" src="app/assets/widgets/charts/flot/flot-stack.js"></script>
<script type="text/javascript" src="app/assets/widgets/charts/flot/flot-pie.js"></script>
<script type="text/javascript" src="app/assets/widgets/charts/flot/flot-tooltip.js"></script>

<script type="text/javascript" src="app/assets/widgets/charts/flot/flot-demo.js"></script>
<script type="text/javascript" src="app/assets/widgets/daterangepicker/moment.js"></script>
<script type="text/javascript" src="app/assets/widgets/daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="app/assets/widgets/daterangepicker/daterangepicker-demo.js"></script>

<!-- Sparklines charts -->

<script type="text/javascript" src="app/assets/widgets/charts/sparklines/sparklines.js"></script>
<script type="text/javascript" src="app/assets/widgets/charts/sparklines/sparklines-demo.js"></script>

<div id="page-title">
    <h2>Dashboard </h2>
<div id="theme-options" class="admin-options">
    <a style="display:none;" href="javascript:void(0);" class="btn btn-primary theme-switcher tooltip-button" data-placement="left" title="Color schemes and layout options">
        <i class="glyph-icon icon-linecons-cog icon-spin"></i>
    </a>
    <div id="theme-switcher-wrapper">
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

        <div class="scroll-switcher">
            <h5 class="header">Layout options</h5>
            <ul class="reset-ul">
                <li>
                    <label for="boxed-layout">Boxed layout</label>
                    <input type="checkbox" data-toggletarget="boxed-layout" id="boxed-layout" class="input-switch-alt">
                </li>
                <li>
                    <label for="fixed-header">Fixed header</label>
                    <input type="checkbox" data-toggletarget="fixed-header" id="fixed-header" class="input-switch-alt">
                </li>
                <li>
                    <label for="fixed-sidebar">Fixed sidebar</label>
                    <input type="checkbox" data-toggletarget="fixed-sidebar" id="fixed-sidebar" class="input-switch-alt">
                </li>
                <li>
                    <label for="closed-sidebar">Closed sidebar</label>
                    <input type="checkbox" data-toggletarget="closed-sidebar" id="closed-sidebar" class="input-switch-alt">
                </li>
            </ul>
            <div class="boxed-bg-wrapper hide">
                <h5 class="header">
                    Boxed Page Background
                    <a class="set-background-style" data-header-bg="" title="Remove all styles" href="javascript:void(0);">Clear</a>
                </h5>
                <div class="theme-color-wrapper clearfix">
                    <h5>Patterns</h5>
                    <a class="tooltip-button set-background-style pattern-bg-3" data-header-bg="pattern-bg-3" title="Pattern 3" href="javascript:void(0);">Pattern 3</a>
                    <a class="tooltip-button set-background-style pattern-bg-4" data-header-bg="pattern-bg-4" title="Pattern 4" href="javascript:void(0);">Pattern 4</a>
                    <a class="tooltip-button set-background-style pattern-bg-5" data-header-bg="pattern-bg-5" title="Pattern 5" href="javascript:void(0);">Pattern 5</a>
                    <a class="tooltip-button set-background-style pattern-bg-6" data-header-bg="pattern-bg-6" title="Pattern 6" href="javascript:void(0);">Pattern 6</a>
                    <a class="tooltip-button set-background-style pattern-bg-7" data-header-bg="pattern-bg-7" title="Pattern 7" href="javascript:void(0);">Pattern 7</a>
                    <a class="tooltip-button set-background-style pattern-bg-8" data-header-bg="pattern-bg-8" title="Pattern 8" href="javascript:void(0);">Pattern 8</a>
                    <a class="tooltip-button set-background-style pattern-bg-9" data-header-bg="pattern-bg-9" title="Pattern 9" href="javascript:void(0);">Pattern 9</a>
                    <a class="tooltip-button set-background-style pattern-bg-10" data-header-bg="pattern-bg-10" title="Pattern 10" href="javascript:void(0);">Pattern 10</a>

                    <div class="clear"></div>

                    <h5 class="mrg15T">Solids &amp;Images</h5>
                    <a class="tooltip-button set-background-style bg-black" data-header-bg="bg-black" title="Black" href="javascript:void(0);">Black</a>
                    <a class="tooltip-button set-background-style bg-gray mrg10R" data-header-bg="bg-gray" title="Gray" href="javascript:void(0);">Gray</a>

                    <a class="tooltip-button set-background-style full-bg-1" data-header-bg="full-bg-1 fixed-bg" title="Image 1" href="javascript:void(0);">Image 1</a>
                    <a class="tooltip-button set-background-style full-bg-2" data-header-bg="full-bg-2 fixed-bg" title="Image 2" href="javascript:void(0);">Image 2</a>
                    <a class="tooltip-button set-background-style full-bg-3" data-header-bg="full-bg-3 fixed-bg" title="Image 3" href="javascript:void(0);">Image 3</a>
                    <a class="tooltip-button set-background-style full-bg-4" data-header-bg="full-bg-4 fixed-bg" title="Image 4" href="javascript:void(0);">Image 4</a>
                    <a class="tooltip-button set-background-style full-bg-5" data-header-bg="full-bg-5 fixed-bg" title="Image 5" href="javascript:void(0);">Image 5</a>
                    <a class="tooltip-button set-background-style full-bg-6" data-header-bg="full-bg-6 fixed-bg" title="Image 6" href="javascript:void(0);">Image 6</a>

                </div>
            </div>
            <h5 class="header">
                Header Style
                <a class="set-adminheader-style" data-header-bg="bg-gradient-9" title="Remove all styles" href="javascript:void(0);">Clear</a>
            </h5>
            <div class="theme-color-wrapper clearfix">
                <h5>Solids</h5>
                <a class="tooltip-button set-adminheader-style bg-primary" data-header-bg="bg-primary font-inverse" title="Primary" href="javascript:void(0);">Primary</a>
                <a class="tooltip-button set-adminheader-style bg-green" data-header-bg="bg-green font-inverse" title="Green" href="javascript:void(0);">Green</a>
                <a class="tooltip-button set-adminheader-style bg-red" data-header-bg="bg-red font-inverse" title="Red" href="javascript:void(0);">Red</a>
                <a class="tooltip-button set-adminheader-style bg-blue" data-header-bg="bg-blue font-inverse" title="Blue" href="javascript:void(0);">Blue</a>
                <a class="tooltip-button set-adminheader-style bg-warning" data-header-bg="bg-warning font-inverse" title="Warning" href="javascript:void(0);">Warning</a>
                <a class="tooltip-button set-adminheader-style bg-purple" data-header-bg="bg-purple font-inverse" title="Purple" href="javascript:void(0);">Purple</a>
                <a class="tooltip-button set-adminheader-style bg-black" data-header-bg="bg-black font-inverse" title="Black" href="javascript:void(0);">Black</a>

                <div class="clear"></div>

                <h5 class="mrg15T">Gradients</h5>
                <a class="tooltip-button set-adminheader-style bg-gradient-1" data-header-bg="bg-gradient-1 font-inverse" title="Gradient 1" href="javascript:void(0);">Gradient 1</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-2" data-header-bg="bg-gradient-2 font-inverse" title="Gradient 2" href="javascript:void(0);">Gradient 2</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-3" data-header-bg="bg-gradient-3 font-inverse" title="Gradient 3" href="javascript:void(0);">Gradient 3</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-4" data-header-bg="bg-gradient-4 font-inverse" title="Gradient 4" href="javascript:void(0);">Gradient 4</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-5" data-header-bg="bg-gradient-5 font-inverse" title="Gradient 5" href="javascript:void(0);">Gradient 5</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-6" data-header-bg="bg-gradient-6 font-inverse" title="Gradient 6" href="javascript:void(0);">Gradient 6</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-7" data-header-bg="bg-gradient-7 font-inverse" title="Gradient 7" href="javascript:void(0);">Gradient 7</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-8" data-header-bg="bg-gradient-8 font-inverse" title="Gradient 8" href="javascript:void(0);">Gradient 8</a>
            </div>
            <h5 class="header">
                Sidebar Style
                <a class="set-sidebar-style" data-header-bg="" title="Remove all styles" href="javascript:void(0);">Clear</a>
            </h5>
            <div class="theme-color-wrapper clearfix">
                <h5>Solids</h5>
                <a class="tooltip-button set-sidebar-style bg-primary" data-header-bg="bg-primary font-inverse" title="Primary" href="javascript:void(0);">Primary</a>
                <a class="tooltip-button set-sidebar-style bg-green" data-header-bg="bg-green font-inverse" title="Green" href="javascript:void(0);">Green</a>
                <a class="tooltip-button set-sidebar-style bg-red" data-header-bg="bg-red font-inverse" title="Red" href="javascript:void(0);">Red</a>
                <a class="tooltip-button set-sidebar-style bg-blue" data-header-bg="bg-blue font-inverse" title="Blue" href="javascript:void(0);">Blue</a>
                <a class="tooltip-button set-sidebar-style bg-warning" data-header-bg="bg-warning font-inverse" title="Warning" href="javascript:void(0);">Warning</a>
                <a class="tooltip-button set-sidebar-style bg-purple" data-header-bg="bg-purple font-inverse" title="Purple" href="javascript:void(0);">Purple</a>
                <a class="tooltip-button set-sidebar-style bg-black" data-header-bg="bg-black font-inverse" title="Black" href="javascript:void(0);">Black</a>

                <div class="clear"></div>

                <h5 class="mrg15T">Gradients</h5>
                <a class="tooltip-button set-sidebar-style bg-gradient-1" data-header-bg="bg-gradient-1 font-inverse" title="Gradient 1" href="javascript:void(0);">Gradient 1</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-2" data-header-bg="bg-gradient-2 font-inverse" title="Gradient 2" href="javascript:void(0);">Gradient 2</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-3" data-header-bg="bg-gradient-3 font-inverse" title="Gradient 3" href="javascript:void(0);">Gradient 3</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-4" data-header-bg="bg-gradient-4 font-inverse" title="Gradient 4" href="javascript:void(0);">Gradient 4</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-5" data-header-bg="bg-gradient-5 font-inverse" title="Gradient 5" href="javascript:void(0);">Gradient 5</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-6" data-header-bg="bg-gradient-6 font-inverse" title="Gradient 6" href="javascript:void(0);">Gradient 6</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-7" data-header-bg="bg-gradient-7 font-inverse" title="Gradient 7" href="javascript:void(0);">Gradient 7</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-8" data-header-bg="bg-gradient-8 font-inverse" title="Gradient 8" href="javascript:void(0);">Gradient 8</a>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row" style="display:none;">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                Data points interactivity
                </h3>
                <div class="example-box-wrapper">
                    <div id="data-example-1" class="mrg20B" style="width: 100%; height: 300px;"></div>
                    <p id="hoverdata" class="text-center">Mouse hovers at (<span id="x">0</span>, <span id="y">0</span>). <span id="clickdata"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                Realtime updating
                </h3>
                <div class="example-box-wrapper">
                    <div id="data-example-3" style="width: 100%; height: 344px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel"  style="display:none;">
    <div class="panel-body">
        <h3 class="title-hero">
            Stacked charts
        </h3>
        <div class="example-box-wrapper clearfix">
            <div id="data-example-2" class="mrg20B" style="width: 100%; height: 300px;"></div>

            <div class="float-left stackControls mrg15R">
                <button class="btn btn-md btn-default">With stacking</button>
                <button class="btn btn-md btn-default">Without stacking</button>
            </div>

            <div class="float-left graphControls">
                <button class="btn btn-md btn-default">Bars</button>
                <button class="btn btn-md btn-default">Lines</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Payments
                </h3>
                <div class="example-box-wrapper clearfix">
                    <div id="data-donut-1" style="width: 100%; height: 200px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Accounts
                </h3>
                <div class="example-box-wrapper clearfix">
                    <div id="data-donut-2" style="width: 100%; height: 200px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Trade Finance
                </h3>
                <div class="example-box-wrapper clearfix">
                    <div id="data-donut-3" style="width: 100%; height: 200px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="panel">
    <div class="panel-body">
        
        <div class="example-box-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <a href="#" title="Example box" class="dashboard-box btn-primary">
                        <span class="content-wrapper">
                            <span class="header">
                                Monthly evolution
                                <span>July - December 2013</span>
                            </span>
                            <span class="sparkline-big">183,579,180,311,405,342,579,405,450,311,180,311,450,302,370,210</span>
                        </span>
                        <span class="button-pane">
                            Overdue orders
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="dashboard-box btn-info">
                        <span class="content-wrapper">
                            <span class="header">
                                Weekly forecast
                                <span>November 2013 - December 2013</span>
                            </span>
                            <div class="sparkline-big">183,112,182,130,191,75,214,159,112,182,130,191,75,214,159,138,156,120,138,156,120</div>
                        </span>
                        <span class="button-pane">
                            Exchange rate
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="dashboard-box btn-danger">
                        <span class="content-wrapper">
                            <span class="header">
                                Yearly forecast
                                <span>2013 - 2014</span>
                            </span>
                            <div class="center-div sparkline-bar-big">183,579,180,311,230,311,405,342,230,302,405,230,405,342,579,405,311,405,342,230,302,405,230,405,342,579,405</div>
                        </span>
                        <span class="button-pane">
                            Trades
                        </span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" title="Example box" class="dashboard-box bg-white content-box">
                        <span class="content-wrapper">
                            <span class="header">
                                <span id="daterangepicker-custom" class="btn btn-sm btn-default" title="" data-toggle="dropdown">
                                    <i class="glyph-icon icon-calendar"></i>
                                    <span></span>
                                    <b class="caret"></b>
                                </span>
                            </span>
                            <div class="center-div sparkline-bar-big-color">112,182,130,191,75,112,182,130,191,75,214,159,138,156,120,214,159,138,156,120</div>
                        </span>
                        <span class="button-pane">
                            Commertial LC
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="dashboard-box bg-white content-box">
                        <span class="content-wrapper">
                            <span class="header">
                                <span id="daterangepicker-custom-2" class="btn btn-sm btn-default" title="" data-toggle="dropdown">
                                    <i class="glyph-icon icon-calendar"></i>
                                    <span></span>
                                    <b class="caret"></b>
                                </span>
                            </span>
                            <div class="center-div sparkline-bar-big-color">183,579,180,311,405,342,579,405,311,311,450,302,370,510,405,342,579,405,311,311,450,302,370,510</div>
                        </span>
                        <span class="button-pane">
                            Standby LC
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="dashboard-box bg-white content-box">
                        <span class="content-wrapper">
                            <span class="header">
                                <span id="daterangepicker-custom-3" class="btn btn-sm btn-default" title="" data-toggle="dropdown">
                                    <i class="glyph-icon icon-calendar"></i>
                                    <span></span>
                                    <b class="caret"></b>
                                </span>
                            </span>
                            <div class="center-div sparkline-bar-big-color">183,579,180,311,405,342,579,405,311,311,450,302,370,510,405,342,579,405,311,311,450,302,370,510</div>
                        </span>
                        <span class="button-pane">
                            Documentary Collections
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


                    </div>

                

            </div>
        </div>
    


    <!-- WIDGETS -->

<script type="text/javascript" src="app/assets/bootstrap/js/bootstrap.js"></script>

<!-- Bootstrap Dropdown -->

<!-- <script type="text/javascript" src="app/assets/widgets/dropdown/dropdown.js"></script> -->

<!-- Bootstrap Tooltip -->

<!-- <script type="text/javascript" src="app/assets/widgets/tooltip/tooltip.js"></script> -->

<!-- Bootstrap Popover -->

<!-- <script type="text/javascript" src="app/assets/widgets/popover/popover.js"></script> -->

<!-- Bootstrap Progress Bar -->

<script type="text/javascript" src="app/assets/widgets/progressbar/progressbar.js"></script>

<!-- Bootstrap Buttons -->

<!-- <script type="text/javascript" src="app/assets/widgets/button/button.js"></script> -->

<!-- Bootstrap Collapse -->

<!-- <script type="text/javascript" src="app/assets/widgets/collapse/collapse.js"></script> -->

<!-- Superclick -->

<script type="text/javascript" src="app/assets/widgets/superclick/superclick.js"></script>

<!-- Input switch alternate -->

<script type="text/javascript" src="app/assets/widgets/input-switch/inputswitch-alt.js"></script>

<!-- Slim scroll -->

<script type="text/javascript" src="app/assets/widgets/slimscroll/slimscroll.js"></script>

<!-- Slidebars -->

<script type="text/javascript" src="app/assets/widgets/slidebars/slidebars.js"></script>
<script type="text/javascript" src="app/assets/widgets/slidebars/slidebars-demo.js"></script>

<!-- PieGage -->

<script type="text/javascript" src="app/assets/widgets/charts/piegage/piegage.js"></script>
<script type="text/javascript" src="app/assets/widgets/charts/piegage/piegage-demo.js"></script>

<!-- Screenfull -->

<script type="text/javascript" src="app/assets/widgets/screenfull/screenfull.js"></script>

<!-- Content box -->

<script type="text/javascript" src="app/assets/widgets/content-box/contentbox.js"></script>

<!-- Overlay -->

<script type="text/javascript" src="app/assets/widgets/overlay/overlay.js"></script>

<!-- Widgets init for demo -->

<script type="text/javascript" src="app/assets/js-init/widgets-init.js"></script>

<!-- Theme layout -->

<script type="text/javascript" src="app/assets/themes/admin/layout.js"></script>

<!-- Theme switcher -->

<script type="text/javascript" src="app/assets/widgets/theme-switcher/themeswitcher.js"></script>

</div>