
<div>
        <div id="page-content-wrapper">
            <div id="page-content" style="margin-left:0px">
                
                    <div class="container">
                    

<!-- Flot charts -->

<script type="text/javascript" src="app/assets/widgets/charts/flot/flot.js"></script>
<script type="text/javascript" src="app/assets/widgets/charts/flot/flot-resize.js"></script>
<script type="text/javascript" src="app/assets/widgets/charts/flot/flot-stack.js"></script>
<script type="text/javascript" src="app/assets/widgets/charts/flot/flot-pie.js"></script>
<script type="text/javascript" src="app/assets/widgets/charts/flot/flot-tooltip.js"></script>

<script type="text/javascript" src="app/assets/widgets/charts/flot/flot-demo.js"></script>
<script type="text/javascript" src="app/assets/widgets/daterangepicker/moment.js"></script>
<script type="text/javascript" src="app/assets/widgets/daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="app/assets/widgets/daterangepicker/daterangepicker-demo.js"></script>

<!-- Sparklines charts -->

<script type="text/javascript" src="app/assets/widgets/charts/sparklines/sparklines.js"></script>
<script type="text/javascript" src="app/assets/widgets/charts/sparklines/sparklines-demo.js"></script>

<div id="page-title">
    <h2>Dashboard </h2>



<div class="panel"  style="display:none;">
    <div class="panel-body">
        <h3 class="title-hero">
            Stacked charts
        </h3>
        <div class="example-box-wrapper clearfix">
            <div id="data-example-2" class="mrg20B" style="width: 100%; height: 300px;"></div>

            <div class="float-left stackControls mrg15R">
                <button class="btn btn-md btn-default">With stacking</button>
                <button class="btn btn-md btn-default">Without stacking</button>
            </div>

            <div class="float-left graphControls">
                <button class="btn btn-md btn-default">Bars</button>
                <button class="btn btn-md btn-default">Lines</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Payments
                </h3>
                <div class="example-box-wrapper clearfix">
                    <div id="data-donut-1" style="width: 100%; height: 200px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Accounts
                </h3>
                <div class="example-box-wrapper clearfix">
                    <div id="data-donut-2" style="width: 100%; height: 200px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Trade Finance
                </h3>
                <div class="example-box-wrapper clearfix">
                    <div id="data-donut-3" style="width: 100%; height: 200px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="panel">
    <div class="panel-body">
        
        <div class="example-box-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <a href="#" title="Example box" class="dashboard-box btn-primary">
                        <span class="content-wrapper">
                            <span class="header">
                                Monthly evolution
                                <span>July - December 2013</span>
                            </span>
                            <span class="sparkline-big">183,579,180,311,405,342,579,405,450,311,180,311,450,302,370,210</span>
                        </span>
                        <span class="button-pane">
                            Overdue orders
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="dashboard-box btn-info">
                        <span class="content-wrapper">
                            <span class="header">
                                Weekly forecast
                                <span>November 2013 - December 2013</span>
                            </span>
                            <div class="sparkline-big">183,112,182,130,191,75,214,159,112,182,130,191,75,214,159,138,156,120,138,156,120</div>
                        </span>
                        <span class="button-pane">
                            Exchange rate
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="dashboard-box btn-danger">
                        <span class="content-wrapper">
                            <span class="header">
                                Yearly forecast
                                <span>2013 - 2014</span>
                            </span>
                            <div class="center-div sparkline-bar-big">183,579,180,311,230,311,405,342,230,302,405,230,405,342,579,405,311,405,342,230,302,405,230,405,342,579,405</div>
                        </span>
                        <span class="button-pane">
                            Trades
                        </span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" title="Example box" class="dashboard-box bg-white content-box">
                        <span class="content-wrapper">
                            <span class="header">
                                <span id="daterangepicker-custom" class="btn btn-sm btn-default" title="" data-toggle="dropdown">
                                    <i class="glyph-icon icon-calendar"></i>
                                    <span></span>
                                    <b class="caret"></b>
                                </span>
                            </span>
                            <div class="center-div sparkline-bar-big-color">112,182,130,191,75,112,182,130,191,75,214,159,138,156,120,214,159,138,156,120</div>
                        </span>
                        <span class="button-pane">
                            Commertial LC
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="dashboard-box bg-white content-box">
                        <span class="content-wrapper">
                            <span class="header">
                                <span id="daterangepicker-custom-2" class="btn btn-sm btn-default" title="" data-toggle="dropdown">
                                    <i class="glyph-icon icon-calendar"></i>
                                    <span></span>
                                    <b class="caret"></b>
                                </span>
                            </span>
                            <div class="center-div sparkline-bar-big-color">183,579,180,311,405,342,579,405,311,311,450,302,370,510,405,342,579,405,311,311,450,302,370,510</div>
                        </span>
                        <span class="button-pane">
                            Standby LC
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="dashboard-box bg-white content-box">
                        <span class="content-wrapper">
                            <span class="header">
                                <span id="daterangepicker-custom-3" class="btn btn-sm btn-default" title="" data-toggle="dropdown">
                                    <i class="glyph-icon icon-calendar"></i>
                                    <span></span>
                                    <b class="caret"></b>
                                </span>
                            </span>
                            <div class="center-div sparkline-bar-big-color">183,579,180,311,405,342,579,405,311,311,450,302,370,510,405,342,579,405,311,311,450,302,370,510</div>
                        </span>
                        <span class="button-pane">
                            Documentary Collections
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


                    </div>

                

            </div>
        </div>
    

</div>